

.form {
    width: 100%;
    position: relative;

    @include screen-sm {
        display: flex;
        flex-direction: column;
    }

    &-row {
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        span{
            width: 100%;
        }
        &--button{
            @media all and (max-width: 640px){
                order: 4;
            }
        }
        .form-select{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;
            @media all and (max-width: 1080px){
                margin-top: 30px;
            }
            > div{
                width: 100%;
                text-align: center;
                margin-top: 0;
            }
            input{
                display: none;
                &:checked + span{
                    opacity: 1;
                }
            }
            label{
                position: relative;
                cursor: pointer;
                margin-right: 10px;
                &:last-child{
                    margin-right: 0;
                }
            }
            span{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 29px;
                height: 29px;
                background-color: $color-green2;
                border-radius: 50%;
                margin-top: 10px;
                position: absolute;
                bottom: 10px;
                right: 0;
                left: auto;
                opacity: 0;
                transition: 0.3s ease-in-out;
            }
        }
        &:not(:last-child) {
            margin-bottom: 20px;

            // @include screen-sm {
            //     margin-bottom: 24px;
            // }
        }

        &--title {
            width: 100%;
            text-align: center;
            margin-top: 30px;
            @include font(22px, 30px);
        }

        &__icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 48px;
            height: 48px;

            svg {
                width: 100%;
                height: 100%;
                transform: translate3d(0, 0, 0);
            }

            & + .form-row__input {
                width: calc(100% - 48px - 20px);
            }
        }

        &__input {
            display: block;
            width: 100%;
            border: 1px solid $color-grey;
            transition: .3s;
            background: $color-light;
            @include font(20px, 1.36, 300);
            height: 56px;
            padding: 20px 20px;
            color: $color-base;
            appearance: none;
            border-radius: 35px;
        }

        &__agreement {
            @include font(14px, 1.71);

            @include screen-xhl {
                text-align: center;
            }

            a {
                display: inline;
                color: $color-green2;
                transition: color .3s;

                &:hover {
                    color: $color-green2;
                }
            }
        }

        &.error {
            .form-row__input {
                border-color: $color-red;
            }
        }
    }

    .button {
        width: 100%;
    }
}