@keyframes pulse {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    70% {
        transform: scale(1);
    }
    90% {
        transform: scale(1);
    }
    100%{
        opacity: 0;
    }
}
.socials{
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    z-index: 99;
    -webkit-tap-highlight-color:  transparent;
    &.active{

        .socials__triger{
            &-wrapper{
                background-image: url("../img/socials-triger-active.svg");
            }
        }
        .ed-socials__link{
            transform: scale(1);
            &:first-child{
                left: calc(-100% - 10px);
                bottom: 0;
            }
            &:nth-child(2){
                left: calc(-100% - 10px);
                bottom: calc(100% + 10px);
            }
            &:nth-child(3){
                left: 0;
                bottom: calc(100% + 10px);
            }
        }
    }
    .ed-socials__link{
        position: absolute;
        transform: scale(0);
        bottom: 25px;
        left: 25px;
        transition: 0.3s ease-in-out;
        margin-bottom: 0;
        svg{
            width: 100%;
            height: 100%;
            fill: none;
            stroke: none;
        }
        width: 70px;
        height: 70px;
        margin-right: 0!important;
        &:last-child{
            margin-bottom: 30px;
        }
    }
    cursor: pointer;
    &__triger{
        &-wrapper{
            position: relative;
            background-image: url("../img/socials-triger-def.svg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            overflow: hidden;
            border-radius: 50%;
            width: 100%;
            height: 100%;
            background-color: #8f8f2d;
        }
        position: relative;
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:before{
            position: absolute;
            content: "";
            display: block;
            width: calc(100% + 20px);
            height: calc(100% + 20px);
            left: -10px;
            top: -10px;
            background-color: #8f8f2d;
            border-radius: 50%;
            opacity: 0.3;
            animation: pulse 1.5s infinite;
        }
        svg{
            width: 100%;
            height: 100%;
            path{
                fill: transparent;
                stroke: transparent;
            }
        }
    }
    &__list{

    }
}

.ed-socials {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        color: $color-base;
        transition: color .3s;

        &:not(:last-child) {
            margin-right: 14px;
        }

        &:hover {
            color: $color-green1;
        }

        svg {
            width: 100%;
            height: 100%;
            transform: translate3d(0, 0, 0);
            fill: currentColor;
            stroke: currentColor;
        }
    }
}