<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Educado</title>
	<meta name="description" content="Educado">

	<meta property="og:title" content="Educado">
	<meta property="og:image" content="img/favicon.png">

	<link rel="icon" type="image/x-icon" href="img/favicon.png">
	<meta property="og:description" content="Educado">
	
	<link rel="stylesheet" href="css/style.min.css?v=1.0.2">
	<meta name="robots" content="noindex, nofollow">
</head>

<body>

	@@include('../template-parts/preloader.html')

	@@include('../template-parts/header.html')
			

				

		