/.vscode/

/wp-config.php

/wp-content/themes/educadotheme/node_modules/

.idea
.idea/*
/.idea

/wp-admin/
/wp-includes/
/.ftpquota
/.gitignore
/.htaccess
/.htaccess.bk
/.litespeed_flag
/favicon.ico
/index.php
/license.txt
/package-lock.json
/readme.html
/wp-activate.php
/wp-blog-header.php
/wp-comments-post.php
/wp-config.php
/wp-config-sample.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/.
/.ftpquota
/wp-activate.php
/wp-content/smush-webp/
/wp-content/maintenance/
/wp-content/languages/
/wp-login.php
/wp-config.php
/wp-config-sample.php
/wp-content/temp-write-test-6a114fa4ae9270-98344305
/wp-mail.php
/.htaccess
/package-lock.json
/wp-content/logs/
/wp-blog-header.php
/wp-content/temp-write-test-69878a8f2ace93-93541671
/wp-content/temp-write-test-6a1682bf809ec9-54680358
/wp-comments-post.php
/wp-includes/
/wp-settings.php
/wp-load.php
/wp-content/maintenance.php
/wp-admin/
/.well-known/
/.gitignore
/wp-content/upgrade/
/wp-content/backups-dup-pro/
/wp-content/litespeed/
/wp-links-opml.php
/wp-cron.php
/wp-signup.php
/wp-content/uploads/
/wp-trackback.php
/xmlrpc.php
/wp-content/temp-write-test-6a0d71aa1e6607-42083829
/wp-content/index.php
/license.txt
/favicon.ico
/wp-content/temp-write-test-69dc848b0b4c63-65551317
/wp-content/
/index.php
/.htaccess.bk
/.litespeed_flag
/cgi-bin/
/wp-content/cache/
/wp-content/autoptimize_404_handler.php
/readme.html
/wp-content/upgrade-temp-backup/
/educadoc/
/wp-content/plugins/
/wp-content/temp-write-test-6906603f724293-26298928
/wp-content/themes/educadotheme/node_modules/
