
.ed-blog{
  .container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    @media all and (max-width: 768px) {
      flex-direction: column-reverse;
    }
    > div{
      width: 45%;
      @media all and (max-width: 768px) {
        width: 100%;
      }
      &.banner-world{
        @media all and (max-width: 768px) {
          margin-bottom: 30px;
        }
      }
      .banner-subtitle{
        @media all and (max-width: 768px) {
          text-align: center;
        }
      }
      .banner-title{
        margin-bottom: 36px;
        width: auto;
        @media all and (max-width: 768px) {
          margin-bottom: 20px;
          text-align: center;
          font-size: 50px;
        }
      }
    }
  }
}

.ed-blog-single{
  padding-top: 160px;
}
.popular-posts{
  margin-bottom: 80px;
  @media all and (max-width: 768px) {
    margin-bottom: 40px;
  }
  .thumbnail{
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 10px;
    display: block;
  }
}
.taxonomy-posts{

}
.taxonomy-post{
  .thumbnail{
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 10px;
  }
  &__title{
    font-weight: 400;
    padding-left: 20px;
    line-height: 100%;
    margin-bottom: 14px;
  }
  &__date{
    padding-left: 20px;
    line-height: 100%;
    margin-bottom: 6px;
  }
  &__excerpt{
    padding-left: 20px;
    line-height: normal;
  }
}