.ed-home-price{
  background-color: #FFF;
  padding-top: 60px;
  padding-bottom: 60px;
  .sf-field-taxonomy-language, .sf-field-taxonomy-vchitel_{
    li{
      &:first-child{
        display: none;
      }
    }
  }
  &__title{
    text-align: center;
    margin-bottom: 40px;
  }
  &__content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .pagination{
      font-size: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      .next{
        margin-left: 20px;
      }
      .prev{
        margin-right: 20px;
      }
    }
    .programs__sidebar{
      width: 280px;
    }
    .programs__main{
      width: calc(100% - 320px);
      @media all and (max-width: 1200px){
        width: 100%;
      }
    }
    .programs__result{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-right: 0;
      width: 100%;
      @media all and (max-width: 1200px){
        width: calc(100% + 30px);
        margin-right: - 30px;
        justify-content: flex-start;
      }
      @media all and (max-width: 1024px){
        width: 100%;
        margin-right: 0;
        justify-content: space-between;
      }
      /* ===== FLIP CARD (стабильно, без пропаданий кнопок) ===== */
      .programs__item{
        position: relative;
        perspective: 1200px;
        -webkit-perspective: 1200px;
      }

      .programs__item-inner{
        position: relative;
        transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
        transition: transform .8s ease;
        -webkit-transition: -webkit-transform .8s ease;
      }

      /* FRONT держит высоту */
      .programs__item-top{
        position: relative;
        z-index: 2;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);

        opacity: 1;
        transition: opacity .15s linear .25s;
        display: flex;
        flex-direction: column;
      }

      /* BACK поверх, высоту не ломает */
      .programs__item-back{
        position: absolute;
        inset: 0;
        z-index: 1;
        display: flex;
        flex-direction: column;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);

        opacity: 0;
        transition: opacity .15s linear .25s;
      }

      /* flip */
      .programs__item.is-flipped .programs__item-inner{
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
      }

      /* показываем back и прячем front (без visibility) */
      .programs__item.is-flipped .programs__item-back{
        opacity: 1;
        z-index: 3;
        transition-delay: .25s;
      }
      .programs__item.is-flipped .programs__item-top{
        opacity: 0;
        z-index: 1;
        transition-delay: .25s;
      }

      /* клики только по активной стороне */
      .programs__item .programs__item-top{ pointer-events: auto; }
      .programs__item .programs__item-back{ pointer-events: none; }

      .programs__item.is-flipped .programs__item-top{ pointer-events: none; }
      .programs__item.is-flipped .programs__item-back{ pointer-events: auto; }

      /* кнопки */
      .programs__item-button{
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
      }
      .programs__item svg{ pointer-events: none; }

      .programs__item{
        width: calc(50% - 20px);
        margin-bottom: 40px;
        background-color: #FFF;
        @media all and (max-width: 1200px){
          width: calc(33.3333% - 30px);
          margin-right: 30px;
          margin-bottom: 30px;
        }
        @media all and (max-width: 1024px){
          width: calc(50% - 10px);
          margin-right: 0;
          margin-bottom: 20px;
        }
        @media all and (max-width: 768px){
          width: 100%;
        }
        &-inner {
          position: relative;
          width: 100%;
          height: 100%;
          transform-style: preserve-3d;
          transition: transform 0.8s ease;
        }

        &-title{
          font-size: 24px;
          font-weight: 600;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px;
          border: 4px solid #8f8f2d;
          margin-bottom: 0;
          border-radius: 60px;
          line-height: normal;
          text-transform: uppercase;
        }
        &-price{
          font-size: 34px;
          color: #818000;
          margin-top: 14px;
          margin-bottom: 0;
          line-height:normal;
          text-align: center;
          line-height: normal;
        }
        &-counr{
          font-size: 28px;
          color: #818000;
          margin-bottom: 30px;
          text-align: center;
          line-height: normal;
        }
        &-button{
          text-align: right;
          line-height: normal;
          margin-top: 20px;
          svg{
            width: 50px;
            height: auto;
          }
        }
        &-content{
          gap: 0;
          flex: 1;
          strong, b{
            font-weight: 800;
            font-family: sans-serif;
          }
          ul{
            padding-left: 0;
            width: 100%;
            li{
              position: relative;
              padding-left: 40px;
              width: 100%;
              display: flex;
              align-items: flex-start;
              margin-bottom: 10px;
              &:before{
                position: absolute;
                top: 0;
                left: 0;
                content: "";
                display: block;
                width: 30px;
                height: 30px;
                background-image: url("../img/li.svg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
              }
            }
          }
          div{
            width: 100%;
          }
        }
      }
      .pagination{
        width: 100%;
        font-size: 20px;
        .page-numbers{
          margin: 0 4px;
          font-weight: 500;
          &.current{
            color: #5D5C00;
            font-weight: 600;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 2px solid #5D5C00;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}