.ed-home-proposition{
  background-color: #232323;
  .proposition{
    &-title{
      text-align: center;
      margin-bottom: 57px;
      @media all and (max-width: 1024px) {
        margin-bottom: 40px;
      }
      @media all and (max-width: 768px) {
        margin-bottom: 30px;
      }
    }
    &-list{
      display: flex;
      flex-wrap: wrap;
      margin-right: -30px;
      width: calc(100% + 30px);
      padding-bottom: 89px;
      @media all and (max-width: 1024px) {
        padding-bottom: 60px;
      }
      @media all and (max-width: 768px) {
        width: 100%;
        margin-right: 0;
        padding-bottom: 40px;
      }
    }
    &-item{
      width: calc(33.333% - 30px);
      margin-right: 30px;
      margin-bottom: 30px;
      background-color: #818000;
      border-radius: 50px;
      padding: 40px;
      display: flex;
      flex-direction: column;
      aspect-ratio: 1;
      @media all and (max-width: 1024px) {
        width: calc(50% - 30px);
        padding: 30px;
        border-radius: 30px;
        aspect-ratio: auto;
      }
      @media all and (max-width: 768px) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
      }
      &__title{
        font-size: 24px;
        text-transform: uppercase;
        margin-bottom: 30px;
        line-height: normal;
        @media all and (max-width: 1024px) {
          font-size: 18px;
        }
      }
      &__desc{
        flex: 1;
        color: #d7df41;
        font-size: 22px;
        margin-bottom: 20px;
        line-height: normal;
        @media all and (max-width: 1024px) {
          font-size: 16px;
        }
      }
      &__lnk{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #d7df41;
        background-color: #5D5C00;
        border-radius: 50px;
        padding: 10px 30px;
        font-size: 20px;
        transition: 0.3s ease;
        @media all and (max-width: 1024px) {
          font-size: 16px;
        }
        svg{
          path{
            transition: 0.3s ease;
          }

        }
        &:hover{
          background-color: #000;
          color: #FFF;
          svg{
            path{
              fill: #FFF;
            }

          }
        }
        svg{
          width: 40px;
          height: auto;
        }
      }
    }
  }

}