.ed-home-trust{
  background-color: transparent;
  &__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item{
    margin-bottom: 40px;
    background-color: #FFF;
    border-radius: 30px;
    height: 200px;
    overflow: hidden;
    text-align: center;
    width: 490px!important;
    @media all and (max-width: 1024px) {
      width: 490px!important;
    }
    @media all and (max-width: 768px) {
      width: 490px!important;
    }
    @media all and (max-width: 500px) {
      width: 100%!important;
    }
    .swiper-slide{
      width: 490px!important;
      @media all and (max-width: 1024px) {
        width: 490px!important;
      }
      @media all and (max-width: 768px) {
        width: 490px!important;
      }
      @media all and (max-width: 500px) {
        width: 100%!important;
      }
    }

    @include screen-sm {


      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
    @media all and (max-width: 768px) {
      border-radius: 20px;
      height: 150px;
    }
    @media all and (max-width: 500px) {
      margin-bottom: 10px;
    }
    img{
      height: 100%;
      width: auto;
      margin: auto;
    }
  }
  .ed-home-trust__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    @media all and (max-width: 500px) {
      margin-top: 40px;
      justify-content: center;
    }
    > div{
      cursor: pointer;
      @media all and (max-width: 500px) {
        margin: 0 20px;
      }
    }
  }
}