

.ed-home-banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 210px 0 100px;
    background: $color-light;
    overflow: hidden;

    @include screen-xxl {
        padding: 90px 0 30px;
    }

    @include screen-xhl {
        padding: 190px 0 50px;
    }

    @include screen-sm {
        padding: 125px 0 24px;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include screen-xxl {
            justify-content: flex-start;
        }

        @include screen-xhl {
            flex-direction: column;
        }
    }

    .banner-content {
        width: calc(41.6666% + 30px);

        @include screen-xxl {
            width: calc(58.3333% + 32px);
        }

        @include screen-xhl {
            width: 100%;
            margin-bottom: 30px;
            text-align: center;
        }

        .banner-title {
            margin-bottom: 50px;

            @include screen-xhl {
                width: 100%;
                max-width: 525px;
                text-align: center;
                margin: 0 auto 30px;
            }

            @include screen-sm {
                margin-bottom: 20px;
            }
        }

        .banner-subtitle {
            margin-bottom: 30px;

            @include screen-xhl {
                text-align: center;
            }

            @include screen-sm {
                @include font(22px, 1.36);
                margin-bottom: 20px;
            }
            li{
                margin-bottom: 5px;
            }
        }
        .button{
            margin-top: 40px;
            display: inline-flex;
            padding-right: 20px;
            padding-left: 20px;
        }
    }

    .banner-world {
        position: relative;
        width: calc(50% + 15px);

        @include screen-xxl {
            width: calc(41.6666% - 30px);
            margin-left: -40px;
            transform: scale(.9);
            transform-origin: center left;
        }

        @include screen-xhl {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-left: 0;
            transform: none;
        }

        &__content {
            position: absolute;
            bottom: 50px;
            left: 60px;
            @include font(22px, 1.18);
            text-transform: uppercase;

            @include screen-xxl {
                width: 100%;
                white-space: nowrap;
                order: 2;
            }

            @include screen-xhl {
                position: relative;
                left: auto;
                bottom: auto;
                text-align: center;
            }

            @include screen-sm {
                white-space: initial;
            }
        }

        &__pretitle {
            &:not(:first-child) {
                @include screen-xhl {
                    margin-top: 20px;
                }

                @include screen-sm {
                    margin-top: 10px;
                }
            }

            @include screen-xhl {
                margin-bottom: 10px;
            }
        }

        &__title {
            @include font-family($font-title);
            @include font(60px, 1.43);

            @include screen-sm {
                @include font(32px, 37px);
            }
        }

        &__image {
            position: relative;
            display: flex;
            width: 100%;
            padding-bottom: 97.2%;
            pointer-events: none;

            @include screen-xxl {
                // width: 790px;
                // height: 770px;
                width: 711px;
                height: 693px;
                padding-bottom: 0;
            }

            @include screen-xhl {
                order: 1;
                width: 100%;
                height: 470px;
                margin-bottom: 30px;
                overflow: hidden;
            }

            @include screen-sm {
                height: 242px;
                margin-bottom: 20px;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: top center;

                @include screen-xhl {
                    height: auto;
                }
            }
        }
    }
    .banner-language{
        width: 665px;
        @include screen-sm {
            width: 300px;
        }
    }
    .banner-languages {
        display: block;

        @include screen-sm {
            text-align: center;
        }
        &__buttons{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .button{
                min-width: 320px;
                margin-bottom: 20px;
                @include screen-sm {
                    width: 100%;
                    margin-bottom: 20px;
                }
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        &__row {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            @include screen-xhl {
                justify-content: center;
            }

            @include screen-sm {
                display: inline;
            }

            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }

        &__item {
            display: inline-block;
        }

        &__icon {
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;

            @include screen-sm {
                display: inline-block;
                vertical-align: middle;
                margin-bottom: 10px;
            }

            @include screen-sm-up {
                &:not(:first-child) {
                    margin-left: 5px;
                }
                
                &:not(:last-child) {
                    margin-right: 5px;
                }
            }
        
            &:last-child {
                display: none;

                @include screen-sm {
                    display: inline-block;
                }
            }

            svg {
                width: 100%;
                height: 100%;
                stroke: $color-grey;
                fill: $color-grey;
            }
        }
    }
    &-language{
        .banner-title{
            line-height: normal;
            font-size: min(5vh, 70px);
            @include screen-sm {
                font-size: min(5vh, 50px);
            }
            @media all and (max-width: 500px){
                font-size: 32px;
                line-height: 37px;
            }
        }
        .banner-subtitle{
            font-size: min(3vh, 32px);
            @include screen-sm {
                font-size: 24px;
            }
            li{
                display: inline-flex;
                @media all and (max-width: 1080px) {
                    display: inline-block;
                }
                @media all and (max-width: 500px){
                    font-size: 20px;
                    line-height: 2;
                }
                &:before{
                    content: "";
                    display: inline;
                    width: 36px;
                    height: 36px;
                    background-image: url("../img/li.svg");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    margin-right: 10px;
                    transform: translateY(6px);
                    flex-shrink: 0;
                    @media all and (max-width: 1080px) {
                        display: inline-block;
                    }
                    @include screen-sm {
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }
        .button{
            width: 100%;
            max-width: 600px;
        }
        .banner-world{
            width: 40%;
            @include screen-sm {
                width: 70%;
            }
        }
        .banner-world__image{
            @include screen-sm {
                height: auto;
                img{
                    position: relative;
                }
            }
        }
        .banner-content{
            width: 60%;
            @include screen-sm {
                width: 100%;
            }
        }
    }
    &-corporative{
        .container{
            justify-content: space-between;
        }
        .banner-content{
            width: 40%;
            @include screen-xhl {
                width: 100%;
            }
        }
        .banner-world{
            width: 50%;
            @include screen-xhl {
                width: 100%;
            }
            img{
                object-position: center;
            }
        }
    }
    &-market{
        background-color: transparent;
        min-height: auto;
        position: relative;
        padding-top: 361px;
        @media all and (max-width: 768px){
            padding-top: 220px;
        }
        &-bg{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: auto;
            text-align: center;
            svg{
                width: 100%;
                height: auto;
                @media all and (min-width: 1920px){
                    width: auto;
                    margin: 0 auto;
                }
            }
        }
        .banner-title{
            color: #FFF;
            font-weight: 400;
        }
        .banner-subtitle{
            color: #FFF;
            font-weight: 100;
        }
    }
    &-static{
        //min-height: 70vh;
        @include screen-xhl {
            min-height: auto;
            .banner-world__image-static{
                max-width: 320px;
            }
            .container{
                flex-direction: column-reverse;
            }
            .banner-content{

            }
            .banner-languages__buttons{
                align-items: center;
            }
            .banner-world{
                align-items: center;
                margin-bottom: 40px;
                img{
                    width: 300px;
                }
            }
        }
        a.button.button-green{
            margin-top: 0;
            margin-bottom: 40px;
            @include screen-xhl {
                margin-bottom: 20px;
            }
        }
        &.ed-home-banner{
            .banner-content{
                .banner-subtitle{
                    position: relative;
                    padding-left: 50px;
                    margin-bottom: 50px;
                    line-height: normal;
                    svg{
                        position: absolute;
                        top: 10px;
                        left: 0;
                        width: 40px;
                        height: auto;
                        @include screen-xhl {
                            display: none;
                        }
                    }
                }
                .banner-title{
                    line-height: 150%;
                }
            }
        }
    }
}