

.ed-home-look {
    position: relative;
    width: 100%;
    padding: 70px 0;
    background: $color-green2;

    @include screen-xhl {
        padding: 50px 0 130px;
    }

    @include screen-sm {
        padding: 30px 0;
    }

    .container {
        position: relative;
        z-index: 3;
    }

    .look-title {
        width: 100%;
        @include font-family($font-title);
        @include font(150px, 1.173);
        margin-bottom: 50px;

        @include screen-xxl {
            @include font(64px, 1.2);
        }

        @include screen-xhl {
            @include font(60px, 70px);
            margin-bottom: 30px;
        }

        @include screen-sm {
            @include font(32px, 37px);
            margin-bottom: 20px;
        }

        &__row {
            display: flex;
            justify-content: center;
            align-items: center;

            &:not(:last-child) {
                margin-bottom: 10px;

                @include screen-xxl {
                    margin-bottom: 6px;
                }
            }

            span {
                position: relative;
                z-index: 1;
            }
        }

        &__media {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 140px;
            height: 140px;
            border-radius: 50%;
            overflow: hidden;
            transform: translate3d(0, 0, 0);
            position: relative;
            z-index: 1;
            margin: 0 -20px;

            @include screen-xhl {
                width: 100px;
                height: 100px;
            }

            @include screen-sm {
                width: 40px;
                height: 40px;
                margin: 0 -15px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .look-subtitle {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 55px;

        @include screen-xhl {
            display: block;
            text-align: center;
        }

        @include screen-sm {
            margin-bottom: 45px;
        }

        span {
            position: relative;
            text-transform: uppercase;
            color: $color-white;
            margin-left: 10px;

            @include screen-xhl {
                display: inline-block;
                max-width: max-content;
            }

            svg {
                display: block;
                position: absolute;
                width: 100%;
                height: 25px;

                stroke-dashoffset: 0.001px;
                stroke-dasharray: 0px, 999999px;
            }
            
            &.shown {
                
            }
        }
    }

    .look-button {
        margin: 0 auto;
        max-width: 490px;

        @include screen-xhl {
            max-width: 340px;
        }

        @include screen-sm {
            padding: 15px 34px;
        }
    }

    .look-benefits {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 83px;

        @include screen-xxl {
            margin-top: 50px;
        }

        @include screen-xhl {
            flex-direction: column;
        }

        @include screen-sm {
            margin-top: 30px;
        }
        &-language{
            margin-top: 0;
        }
        &__item {
            width: calc(33.3333% - 20px);

            @include screen-xhl {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 100%;

                &:not(:last-child) {
                    margin-bottom: 30px;
                }
            }

            @include screen-sm {
                flex-direction: column;
            }
        }

        .benefit-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 252px;
            height: 180px;
            margin: 0 auto 10px;
            
            @include screen-xxl {
                width: 140px;
                height: 100px;
            }

            @include screen-xhl {
                width: 140px;
                height: 100px;
            }

            @include screen-sm {
                margin-bottom: 10px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center;
            }
        }

        .benefit-info {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include screen-xhl {
                width: calc(100% - 160px);
            }

            @include screen-sm {
                flex-direction: column;
                width: 100%;
                text-align: center;
            }

            &__percent {
                width: 140px;

                @include screen-xhl {
                    @include font(70px, 80px);
                }

                @include screen-sm {
                    width: 100%;
                    @include font(32px, 37px);
                }
            }

            &__title {
                display: flex;
                align-items: center;
                width: calc(100% - 170px);

                @include screen-xxl {
                    min-height: 87px;
                }

                @include screen-sm {
                    display: block;
                    width: 100%;
                    min-height: 0;
                }
            }
        }
    }

    .ed-home-look__bg {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 0;
        pointer-events: none;
        display: flex;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-language{
        .benefit-info__percent{
            text-align: right;
            @include screen-sm {
                text-align: center;
            }
        }
    }
    &-corporative{
        .look-title{
            width: 100%;
            text-align: center;
            @include font-family($font-title);
            @include font(90px, 1.173);
            margin-bottom: 50px;

            @include screen-xxl {
                @include font(64px, 1.2);
            }

            @include screen-xhl {
                @include font(60px, 70px);
                margin-bottom: 30px;
            }

            @include screen-sm {
                @include font(32px, 37px);
                margin-bottom: 20px;
            }
        }
        .benefit-info__percent{
            text-align: right;
            font-size: 60px;
            padding-right: 40px;
            @media all and (max-width: 1780px){
                font-size: 50px;
                padding-right: 20px;
            }
            @media all and (max-width: 1024px){
                width: auto!important;
            }
            @media all and (max-width: 641px){
                text-align: center;
                font-size: 40px;
                padding-right: 0;
            }
        }
        .look-benefits .benefit-info{
            justify-content: center;
            .benefit-info__title{
                //text-align: center;
                justify-content: center;
            }
        }
    }
    &-corporativenew{
        .ed-home-week__title{
            color: #FFF;
            margin-bottom: 40px;
        }
        .corporativenew{
            &__list{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
            &__item{
                width: calc(25% - 20px);
                text-align: center;
                @media all and (max-width: 1024px){
                    width: calc(50% - 20px);
                    margin-bottom: 40px;
                }
                @media all and (max-width: 768px){
                   width: 100%;
                    border: 2px solid #000;
                    border-radius: 30px;
                    padding: 20px;
                    margin-bottom: 20px;
                }
                svg{
                    width: 80px;
                    height: auto;
                    margin-bottom: 30px;
                }

                &-title{
                    margin-bottom: 20px;
                    color: #d7df41;
                    font-size: 18px;
                    text-transform: uppercase;
                    font-weight: 600;
                    line-height: normal;
                }
                &-img{
                    text-align: center;
                    img{
                        height: 100%;
                        width: auto;
                        max-height: 20vh;
                        margin: auto;
                    }
                }
                &-desc{
                    text-align: center;
                    font-size: 16px;
                    line-height: normal;
                    max-width: 320px;
                    margin: auto;
                }
            }
        }
    }
}