.programs{
  width: 100%;
  min-height: 100vh;
  padding: 210px 0 100px;
  @include screen-xxl {
    padding: 90px 0 30px;
  }

  @include screen-xhl {
    padding: 70px 0 50px;
  }

  @include screen-sm {
    padding: 30px 0 24px;
  }
  &__title{
    width: 100%;
    margin-bottom: 20px;
  }
  &__subtitle{
    width: 100%;
    margin-bottom: 28px;
  }
  &__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 95px;
  }
  &__sidebar{
    width: 384px;
    transition: 0.3s ease-in-out;
    &.has-language{
      .sf-field-taxonomy-language{
        display: none;
      }
    }
    @media all and (max-width: 1440px){
      width: 320px;
    }
    @media all and (max-width: 1200px){
      width: 100% !important;
    }
    form{
      .sf-field-submit{
        display: none;
      }
      > ul{
        > li{
          padding-top: 0;
          padding-bottom: 0;
          margin-bottom: 30px;
          @media all and (max-width: 1200px) {
            margin-bottom: 14px;
          }
          flex-grow: 1;
          &:last-child{
            padding-bottom: 0;
          }
          ul{
            background-color: #FFFFFF;
            //max-height: 166px;
            overflow-y: auto;
            padding: 18px 0 6px 0;
            @media all and (max-width: 1200px) {
              display: flex;
              flex-wrap: wrap;
              padding-top: 0;
              padding-bottom: 0;
            }
            li{
              display: flex;
              padding-top: 0;
              padding-bottom: 0;
              position: relative;
              margin-bottom: 20px;
              @media all and (max-width: 1200px) {
                margin-bottom: 10px;
              }
              @media all and (max-width: 768px) {
                flex-grow: 1;
              }
              label{
                @media all and (max-width: 768px) {
                  text-align: center;
                  font-size: 14px;
                }
              }

              input:checked + .sf-label-checkbox, input:checked + .sf-label-radio{
                @media all and (max-width: 1200px) {
                  background-color: #5D5C00;
                  color: #FFF;
                }

                &:before{
                  border: 2px solid #8f8f2d;
                  @media all and (max-width: 1200px) {
                    display: none;
                  }
                }
                &:after{
                  position: absolute;
                  top: 4px;
                  left: 6px;
                  content: "";
                  width: 15px;
                  height: 15px;
                  border-radius: 50%;
                  background-color: #8f8f2d;
                  @media all and (max-width: 1200px) {
                    display: none;
                  }
                }
              }
              input{
                display: none;
              }
              label{
                font-size: 16px;
                font-weight: 400;
                line-height: normal;
                position-anchor: revert;
                &.sf-label-checkbox, &.sf-label-radio{
                  padding-left: 40px;
                  @media all and (max-width: 1200px) {
                    padding: 6px 14px;
                    border: 2px solid #5D5C00;
                    border-radius: 40px;
                    margin-right: 10px;
                    cursor: pointer;
                  }
                }
                &:before{
                  position: absolute;
                  top: -2px;
                  left: 0;
                  content: "";
                  width: 27px;
                  height: 27px;
                  border-radius: 50%;
                  border: 2px solid #dbdbdb;
                  @media all and (max-width: 1200px) {
                    display: none;
                  }
                }
              }
            }
          }
        }
        h4{
          padding-top: 0;
          font-size: 26px;
          font-weight: 500;
          padding-bottom: 10px;
          line-height: normal;
          @media all and (max-width: 768px){
            text-align: center;
            font-size: 22px;
          }
        }
      }
    }

    label{
      display: inline-block;
      width: 100%;
    }
  }
  &__main{
    width: calc(100% - 408px);
    @media all and (max-width: 1440px){
      width: calc(100% - 340px);
    }
    @media all and (max-width: 1200px){
      width: 100%;
    }
    &-header{
      display: none;
      margin-bottom: 20px;
      padding-bottom: 10px;
      border-bottom: 1px solid rgba(29, 29, 29, 1);
      @media all and (max-width: 1200px){
        display: block;
      }
      .filter{
        padding: 20px 40px;
        font-size: 16px;
        background-color: rgba(201, 45, 54, 1);
        border-radius: 5px;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        svg{
          margin-right: 10px;
        }
      }
    }
  }
  &__result{
    display: flex;
    flex-wrap: wrap;
    margin-right: -24px;
    @media all and (max-width: 768px){
      margin-right: -10px;
    }
  }
  &__item{
    background-color: #d3d360;
    border: 1px solid #000;
    padding: 40px;
    border-radius: 40px;
    margin-bottom: 50px;
    @media all and (max-width: 768px) {
      padding: 20px;
      border-radius: 20px;
    }
    &-title{
      margin-bottom: 20px;
    }
    &-content{
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      @media all and (max-width: 1200px) {
        gap: 20px;
      }
    }
    &-wrapper{
      position: relative;
      padding-left: 40px;
    }
    &-block{
      border-radius: 40px;
      background-color: #efefc6;
      padding: 40px;
      @media all and (max-width: 768px) {
        padding: 20px;
        border-radius: 20px;
      }
      &:nth-child(1){
        width: calc(60% - 20px);
        @media all and (max-width: 768px) {
          width: 100%;
        }
      }
      &:nth-child(2){
        width: calc(40% - 20px);
        @media all and (max-width: 768px) {
          width: 100%;
        }
      }
      &:nth-child(3){
        width: calc(70% - 20px);
        @media all and (max-width: 768px) {
          width: 100%;
        }
      }
      &:nth-child(4){
        width: calc(30% - 20px);
        @media all and (max-width: 768px) {
          width: 100%;
        }
      }
      &:nth-child(5){
        width: calc(30% - 20px);
        @media all and (max-width: 768px) {
          width: 100%;
        }
      }
      &:nth-child(6){
        width: calc(70% - 20px);
        @media all and (max-width: 768px) {
          width: 100%;
        }
      }
      p{
        line-height: normal;
      }
      svg{
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: auto;
      }
    }
    &-btn{
      margin-top: 40px;
      display: flex;
      justify-content: flex-end;
      .button{
        min-width: 300px;
        @media all and (max-width: 1200px) {
          width: 100%;
        }
        &:hover{
          background-color: #818000;
        }
      }
    }
  }
}