.programs{
  width: 100%;
  min-height: 100vh;
  padding: 210px 0 100px;
  @include screen-xxl {
    padding: 90px 0 30px;
  }

  @include screen-xhl {
    padding: 190px 0 50px;
  }

  @include screen-sm {
    padding: 125px 0 24px;
  }
  &__title{
    width: 100%;
  }
  &__subtitle{
    width: 100%;
    margin-bottom: 28px;
  }
  &__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 95px;
  }
  &__sidebar{
    width: 384px;
    transition: 0.3s ease-in-out;
    @media all and (max-width: 1200px){
      padding: 50px 20px 0 20px;
      height: 100%;
      overflow-y: scroll
    }
    &-close{
      display: none;
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
      @media all and (max-width: 1200px){
        display: inline-block;
      }
    }
    @media all and (max-width: 1440px){
      width: 320px;
    }
    @media all and (max-width: 1200px){
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      transform: translateX(-120%);
      z-index: 100;
      &.active{
        transform: translateX(0);
      }
    }
    form{
      .sf-field-submit{
        display: none;
      }
      > ul{
        > li{
          padding-top: 0;
          padding-bottom: 0;
          margin-bottom: 30px;
          &:last-child{
            padding-bottom: 0;
          }
          ul{
            background-color: #FFFFFF;
            max-height: 166px;
            overflow-y: auto;
            padding: 18px 0 6px 0;
            li{
              display: flex;
              padding-top: 0;
              padding-bottom: 0;
              position: relative;
              margin-bottom: 20px;
              input:checked + .sf-label-checkbox, input:checked + .sf-label-radio{
                &:before{
                  border: 2px solid #8f8f2d;
                }
                &:after{
                  position: absolute;
                  top: 4px;
                  left: 6px;
                  content: "";
                  width: 15px;
                  height: 15px;
                  border-radius: 50%;
                  background-color: #8f8f2d;
                }
              }
              input{
                display: none;
              }
              label{
                font-size: 16px;
                font-weight: 400;
                line-height: normal;
                position-anchor: revert;
                &.sf-label-checkbox, &.sf-label-radio{
                  padding-left: 40px;
                }
                &:before{
                  position: absolute;
                  top: -2px;
                  left: 0;
                  content: "";
                  width: 27px;
                  height: 27px;
                  border-radius: 50%;
                  border: 2px solid #dbdbdb;
                }
              }
            }
          }
        }
        h4{
          padding-top: 0;
          font-size: 26px;
          font-weight: 500;
          padding-bottom: 10px;
          line-height: normal;
        }
      }
    }

    label{
      display: inline-block;
      width: 100%;
    }
  }
  &__main{
    width: calc(100% - 408px);
    @media all and (max-width: 1440px){
      width: calc(100% - 340px);
    }
    @media all and (max-width: 1200px){
      width: 100%;
    }
    &-header{
      display: none;
      margin-bottom: 20px;
      padding-bottom: 10px;
      border-bottom: 1px solid rgba(29, 29, 29, 1);
      @media all and (max-width: 1200px){
        display: block;
      }
      .filter{
        padding: 20px 40px;
        font-size: 16px;
        background-color: rgba(201, 45, 54, 1);
        border-radius: 5px;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        svg{
          margin-right: 10px;
        }
      }
    }
  }
  &__result{
    display: flex;
    flex-wrap: wrap;
    margin-right: -24px;
    @media all and (max-width: 768px){
      margin-right: -10px;
    }
  }
}