

// colors
$color-white: #ffffff;
$color-black: #000000;

$color-base: #161616;
$color-grey: #E2E2E2;
$color-light: #FAFAFA;
$color-add: #D8B79F;
$color-green1: #D3D360;
$color-green2: #8F8F2D;
$color-red: #E23333;
$color-yellow: #efce4a;

// fonts
$font-base: 'Roboto';
$font-title: 'Poiret One';