
<footer class="ed-footer">
    <div class="container">
        <div class="ed-footer-bar">
            <div class="ed-footer-logo">
                <img src="img/logo-footer.svg" alt="">
            </div>

            <ul class="ed-footer-menu">
                <li><a href="#ed-courses">Курси</a></li>
                <li><a href="#ed-testimonials">Відгуки</a></li>
                <li><a href="#ed-teachers">Вчителі</a></li>
            </ul>

            <div class="ed-footer-contacts">
                <a class="ed-footer-contacts__link" href="mailto:educado.school@gmail.com">educado.school@gmail.com</a>
                
                <div class="ed-socials">
                    <a href="/" class="ed-socials__link" target="_blank">
                        <svg><use xlink:href="#ed-svg-instagram"></use></svg>
                    </a>

                    <a href="/" class="ed-socials__link" target="_blank">
                        <svg><use xlink:href="#ed-svg-facebook"></use></svg>
                    </a>

                    <a href="/" class="ed-socials__link" target="_blank">
                        <svg><use xlink:href="#ed-svg-telegram"></use></svg>
                    </a>

                    <a href="/" class="ed-socials__link" target="_blank">
                        <svg><use xlink:href="#ed-svg-linked"></use></svg>
                    </a>
                </div>
            </div>

            <div class="ed-footer-button button-speak">
                <svg><use xlink:href="#ed-svg-speak"></use></svg>
            </div>
        </div>

        <div class="ed-footer-bottom">
            <div class="ed-footer-copyright">© 2023 Educado</div>
            <a href="http://codevision.agency" target="_blank" class="ed-footer-developer">
                <svg><use xlink:href="#ed-svg-codevision"></use></svg>
            </a>
        </div>
    </div>
</footer>