<header class="ed-header">
    <div class="container">
        <div class="ed-header-bar">
            <div class="ed-header-logo">
                <img src="img/logo.svg" alt="">
            </div>

            <ul class="ed-header-menu">
                <li><a href="#ed-courses">Курси</a></li>
                <li><a href="#ed-testimonials">Відгуки</a></li>
                <li><a href="#ed-teachers">Вчителі</a></li>
            </ul>

            <div class="ed-header-contacts">
                <a class="ed-header-contacts__link" href="mailto:educado.school@gmail.com">educado.school@gmail.com</a>
                
                <div class="ed-socials">
                    <a href="/" class="ed-socials__link" target="_blank">
                        <svg><use xlink:href="#ed-svg-instagram"></use></svg>
                    </a>

                    <a href="/" class="ed-socials__link" target="_blank">
                        <svg><use xlink:href="#ed-svg-facebook"></use></svg>
                    </a>

                    <a href="/" class="ed-socials__link" target="_blank">
                        <svg><use xlink:href="#ed-svg-telegram"></use></svg>
                    </a>

                    <a href="/" class="ed-socials__link" target="_blank">
                        <svg><use xlink:href="#ed-svg-linked"></use></svg>
                    </a>
                </div>
            </div>

            <div class="ed-header-button button-speak callpopup" data-popup="callback">
                <svg><use xlink:href="#ed-svg-speak"></use></svg>
            </div>

            <div class="ed-header-burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

    <div class="ed-menu">
        <ul>
            <li><a href="#ed-courses">Курси</a></li>
            <li><a href="#ed-testimonials">Відгуки</a></li>
            <li><a href="#ed-teachers">Вчителі</a></li>
        </ul>
    </div>
</header>