<div class="review-card">
    <div class="review-card__content">
        <div class="review-card__title">
            <div class="review-card__title-name">@@name</div>
            <div class="review-card__title-date">@@date</div>
        </div>

        <div class="review-card__course">@@course</div>

        <div class="review-card__rating">
            <div class="review-card__rating-stars">
                <svg><use xlink:href="#ed-svg-star"></use></svg>
                <svg><use xlink:href="#ed-svg-star"></use></svg>
                <svg><use xlink:href="#ed-svg-star"></use></svg>
                <svg><use xlink:href="#ed-svg-star"></use></svg>
                <svg><use xlink:href="#ed-svg-star"></use></svg>
                <!-- <svg><use xlink:href="#ed-svg-star-border"></use></svg> -->
            </div>

            <div class="review-card__rating-num">5</div>
        </div>

        <div class="review-card__text">@@text</div>
    </div>
</div>