<div class="teacher-card">
    <div class="teacher-card__wrapper">
        <div class="teacher-card__course h5">@@course</div>
        <div class="teacher-card__name h2">@@name</div>

        <div class="teacher-card__play" data-youtube="sqY0E72HXU8">
            <svg><use xlink:href="#ed-svg-play"></use></svg>
        </div>

        <div class="teacher-card__logo">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" 
                data-src="img/home/about/educado.svg"
                decoding="async" alt="">
        </div>

        <div class="teacher-card__image">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" 
                data-src="img/home/about/@@image"
                decoding="async" alt="">
        </div>
    </div>
</div>