<section class="ed-home-questions">
    <div class="container">
        <div class="questions-wrapper">
            <div class="questions-form">
                <div class="questions-title h1">Залишилися питання?</div>
                <div class="questions-subtitle h3">Заповни форму - ми зв'яжемося з тобою:</div>

                <form class="form">
                    <input type="hidden" name="title" value="Зворотній зв'язок">
        
                    <div class="form-row">
                        <input class="form-row__input required" type="text" name="name" placeholder="Ваше ім’я">
                    </div>

                    <div class="form-row">
                        <input class="form-row__input required" type="text" name="phone" placeholder="+38 (- - -) - - - - - - -">
                    </div>        
                    
                    <div class="form-row">
                        <div class="form-row__agreement">Натискаючи кнопку “Відправити” я приймаю положення про обробку і захист персональних даних</div>
                    </div>

                    <div class="form-row form-row--button">
                        <button class="button" type="submit">Відправити</button>
                    </div>
                </form>
            </div>

            <div class="questions-trial">
                <div class="questions-trial__button callpopup" data-popup="trial">
                    <span>Пробний <br> урок!</span>

                    <svg viewBox="0 0 188 198" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.3786 174.642C-11.7504 89.8565 26.0552 40.2692 70.2724 13.4833C92.1599 0.422404 115.816 -2.23406 136.819 5.95669C158.265 14.3688 174.625 33.6281 181.921 58.6431C192.312 94.2839 185.237 133.688 163.792 161.359C145.442 184.825 118.469 197.222 88.4014 196.115C50.1536 193.901 28.4872 185.268 6.3786 174.642Z" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"/>
                    </svg>
                </div>
            </div>
        </div>
        
    </div>
</section>