<section class="ed-home-about">
    <div class="container">
        <div class="about-teachers" id="ed-teachers">
            <div class="about-teachers-title h1">Викладачі Educado вже чекають тебе на уроці!</div>

            <div class="about-teachers-slider swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        @@include('../components/teacher-card.html', {
                            "course": "викладач з англійської", 
                            "name": "Руслана Баратюк",
                            "image": "teacher1.png"
                        })
                    </div>
                    
                    <div class="swiper-slide">
                        @@include('../components/teacher-card.html', {
                            "course": "викладач з німецької", 
                            "name": "Оксана Нікітюк",
                            "image": "teacher2.png"
                        })
                    </div>

                    <div class="swiper-slide">
                        @@include('../components/teacher-card.html', {
                            "course": "викладач з французської", 
                            "name": "Олеся Фаріон",
                            "image": "teacher3.png"
                        })
                    </div>

                    <div class="swiper-slide">
                        @@include('../components/teacher-card.html', {
                            "course": "викладач з англійської", 
                            "name": "Руслана Баратюк",
                            "image": "teacher1.png"
                        })
                    </div>
                </div>
            </div>
        </div>


        <div class="about-reviews" id="ed-testimonials">
            <div class="about-reviews-title h1">Що кажуть наші студенти?</div>

            <div class="about-reviews-list">

                @@include('../components/review-card.html', {
                    "name": "Лана", 
                    "date": "15.02.2023",
                    "course": "Французька мова, Розмовна мова",
                    "text": "Я займалася французькою мовою на рівні A2-B1 з викладачем Дарією та дуже її рекомендую. По-перше,   стовідсоткове потрапляння у запит, ми займалися чітко під мої цілі, по-друге, чітке розуміння мого рівня, і заняття були ні надто важкими, ні надто легкими. Т головне, я скоро помітила реальний результат, спілкуватися стало легше та вільніше!",
                })

                @@include('../components/review-card.html', {
                    "name": "Любов", 
                    "date": "13.02.2023",
                    "course": "Французька мова, Рівень В1-B2",
                    "text": "Мені сподобався рівень знань репетитора, якісне використання часу на занятті та інтенсивність навантажень. Займаюсь вже декілька місяців, результати радують, рекомендую",
                })

                @@include('../components/review-card.html', {
                    "name": "Дмитро", 
                    "date": "02.03.2021",
                    "course": "Німецька мова, Іспанська мова, Молодші класи 1-4, Репетитор для початківців",
                    "text": "У мене хлопчики-близнюки. 10 років, живемо в Ірландії. Англійська - наша друга мова, але хлопці самі для себе дуже хочуть вивчити інші мови, один хоче іспанську, а інший хоче німецьку, бачив, як кожен день вони самі в телефонах за програмою Duolingo займаються, вирішив, що пора їм підключати репетитора. звʼязався з Русланою. і повністю. повністю задоволений, і діти теж. У Руслани є вчителі німецької, і іспанської, що дуже зручно для мене, я оплачую відразу на двох 32 заняття, за що отримую хоро"
                })

            
                @@include('../components/review-card.html', {
                    "name": "Олександра", 
                    "date": "25.01.2022",
                    "course": "Іспанська мова, Рівень А1-A2",
                    "text": "Займаюся з репетитором 2 місяці, дуже задоволена. Репетитор дуже детально і зрозуміло пояснює матеріал. Наразі навіть збільшила кількість уроків на тиждень, оскільки пододобається атмосфера занять.",
                })

               

                @@include('../components/review-card.html', {
                    "name": "Любов", 
                    "date": "13.02.2023",
                    "course": "Французька мова, Рівень В1-B2",
                    "text": "Мені сподобався рівень знань репетитора, якісне використання часу на занятті та інтенсивність навантажень. Займаюсь вже декілька місяців, результати радують, рекомендую",
                })
                

                @@include('../components/review-card.html', {
                    "name": "Дмитро", 
                    "date": "07.04.2021",
                    "course": "Німецька мова, Рівень А1-А2",
                    "text": "Репетитор відповідально готується до занять. Хочу відзначити індивідуальний підхід. Дуже задоволений",
                })

                @@include('../components/review-card.html', {
                    "name": "Олександра", 
                    "date": "25.01.2022",
                    "course": "Іспанська мова, Рівень А1-A2",
                    "text": "Займаюся з репетитором 2 місяці, дуже задоволена. Репетитор дуже детально і зрозуміло пояснює матеріал. Наразі навіть збільшила кількість уроків на тиждень, оскільки пододобається атмосфера занять.",
                })

                @@include('../components/review-card.html', {
                    "name": "Лана", 
                    "date": "15.02.2023",
                    "course": "Французька мова, Розмовна мова",
                    "text": "Я займалася французькою мовою на рівні A2-B1 з викладачем Дарією та дуже її рекомендую. По-перше,   стовідсоткове потрапляння у запит, ми займалися чітко під мої цілі, по-друге, чітке розуміння мого рівня, і заняття були ні надто важкими, ні надто легкими. Т головне, я скоро помітила реальний результат, спілкуватися стало легше та вільніше!",
                })
                

                @@include('../components/review-card.html', {
                    "name": "Дмитро", 
                    "date": "02.03.2021",
                    "course": "Німецька мова, Іспанська мова, Молодші класи 1-4, Репетитор для початківців",
                    "text": "У мене хлопчики-близнюки. 10 років, живемо в Ірландії. Англійська - наша друга мова, але хлопці самі для себе дуже хочуть вивчити інші мови, один хоче іспанську, а інший хоче німецьку, бачив, як кожен день вони самі в телефонах за програмою Duolingo займаються, вирішив, що пора їм підключати репетитора. звʼязався з Русланою. і повністю. повністю задоволений, і діти теж. У Руслани є вчителі німецької, і іспанської, що дуже зручно для мене, я оплачую відразу на двох 32 заняття, за що отримую хоро"
                })

                @@include('../components/review-card.html', {
                    "name": "Дмитро", 
                    "date": "07.04.2021",
                    "course": "Німецька мова, Рівень А1-А2",
                    "text": "Репетитор відповідально готується до занять. Хочу відзначити індивідуальний підхід. Дуже задоволений",
                })

                @@include('../components/review-card.html', {
                    "name": "Лана", 
                    "date": "15.02.2023",
                    "course": "Французька мова, Розмовна мова",
                    "text": "Я займалася французькою мовою на рівні A2-B1 з викладачем Дарією та дуже її рекомендую. По-перше,   стовідсоткове потрапляння у запит, ми займалися чітко під мої цілі, по-друге, чітке розуміння мого рівня, і заняття були ні надто важкими, ні надто легкими. Т головне, я скоро помітила реальний результат, спілкуватися стало легше та вільніше!",
                })

                @@include('../components/review-card.html', {
                    "name": "Олександра", 
                    "date": "25.01.2022",
                    "course": "Іспанська мова, Рівень А1-A2",
                    "text": "Займаюся з репетитором 2 місяці, дуже задоволена. Репетитор дуже детально і зрозуміло пояснює матеріал. Наразі навіть збільшила кількість уроків на тиждень, оскільки пододобається атмосфера занять.",
                })

                @@include('../components/review-card.html', {
                    "name": "Лана", 
                    "date": "15.02.2023",
                    "course": "Французька мова, Розмовна мова",
                    "text": "Я займалася французькою мовою на рівні A2-B1 з викладачем Дарією та дуже її рекомендую. По-перше,   стовідсоткове потрапляння у запит, ми займалися чітко під мої цілі, по-друге, чітке розуміння мого рівня, і заняття були ні надто важкими, ні надто легкими. Т головне, я скоро помітила реальний результат, спілкуватися стало легше та вільніше!",
                })

                @@include('../components/review-card.html', {
                    "name": "Любов", 
                    "date": "13.02.2023",
                    "course": "Французька мова, Рівень В1-B2",
                    "text": "Мені сподобався рівень знань репетитора, якісне використання часу на занятті та інтенсивність навантажень. Займаюсь вже декілька місяців, результати радують, рекомендую",
                })

                @@include('../components/review-card.html', {
                    "name": "Дмитро", 
                    "date": "02.03.2021",
                    "course": "Німецька мова, Іспанська мова, Молодші класи 1-4, Репетитор для початківців",
                    "text": "У мене хлопчики-близнюки. 10 років, живемо в Ірландії. Англійська - наша друга мова, але хлопці самі для себе дуже хочуть вивчити інші мови, один хоче іспанську, а інший хоче німецьку, бачив, як кожен день вони самі в телефонах за програмою Duolingo займаються, вирішив, що пора їм підключати репетитора. звʼязався з Русланою. і повністю. повністю задоволений, і діти теж. У Руслани є вчителі німецької, і іспанської, що дуже зручно для мене, я оплачую відразу на двох 32 заняття, за що отримую хоро"
                })

            
                @@include('../components/review-card.html', {
                    "name": "Олександра", 
                    "date": "25.01.2022",
                    "course": "Іспанська мова, Рівень А1-A2",
                    "text": "Займаюся з репетитором 2 місяці, дуже задоволена. Репетитор дуже детально і зрозуміло пояснює матеріал. Наразі навіть збільшила кількість уроків на тиждень, оскільки пододобається атмосфера занять.",
                })

               

                @@include('../components/review-card.html', {
                    "name": "Любов", 
                    "date": "13.02.2023",
                    "course": "Французька мова, Рівень В1-B2",
                    "text": "Мені сподобався рівень знань репетитора, якісне використання часу на занятті та інтенсивність навантажень. Займаюсь вже декілька місяців, результати радують, рекомендую",
                })
                

                @@include('../components/review-card.html', {
                    "name": "Дмитро", 
                    "date": "07.04.2021",
                    "course": "Німецька мова, Рівень А1-А2",
                    "text": "Репетитор відповідально готується до занять. Хочу відзначити індивідуальний підхід. Дуже задоволений",
                })

                @@include('../components/review-card.html', {
                    "name": "Олександра", 
                    "date": "25.01.2022",
                    "course": "Іспанська мова, Рівень А1-A2",
                    "text": "Займаюся з репетитором 2 місяці, дуже задоволена. Репетитор дуже детально і зрозуміло пояснює матеріал. Наразі навіть збільшила кількість уроків на тиждень, оскільки пододобається атмосфера занять.",
                })

                @@include('../components/review-card.html', {
                    "name": "Лана", 
                    "date": "15.02.2023",
                    "course": "Французька мова, Розмовна мова",
                    "text": "Я займалася французькою мовою на рівні A2-B1 з викладачем Дарією та дуже її рекомендую. По-перше,   стовідсоткове потрапляння у запит, ми займалися чітко під мої цілі, по-друге, чітке розуміння мого рівня, і заняття були ні надто важкими, ні надто легкими. Т головне, я скоро помітила реальний результат, спілкуватися стало легше та вільніше!",
                })
                

                @@include('../components/review-card.html', {
                    "name": "Дмитро", 
                    "date": "02.03.2021",
                    "course": "Німецька мова, Іспанська мова, Молодші класи 1-4, Репетитор для початківців",
                    "text": "У мене хлопчики-близнюки. 10 років, живемо в Ірландії. Англійська - наша друга мова, але хлопці самі для себе дуже хочуть вивчити інші мови, один хоче іспанську, а інший хоче німецьку, бачив, як кожен день вони самі в телефонах за програмою Duolingo займаються, вирішив, що пора їм підключати репетитора. звʼязався з Русланою. і повністю. повністю задоволений, і діти теж. У Руслани є вчителі німецької, і іспанської, що дуже зручно для мене, я оплачую відразу на двох 32 заняття, за що отримую хоро"
                })

                @@include('../components/review-card.html', {
                    "name": "Дмитро", 
                    "date": "07.04.2021",
                    "course": "Німецька мова, Рівень А1-А2",
                    "text": "Репетитор відповідально готується до занять. Хочу відзначити індивідуальний підхід. Дуже задоволений",
                })

                @@include('../components/review-card.html', {
                    "name": "Лана", 
                    "date": "15.02.2023",
                    "course": "Французька мова, Розмовна мова",
                    "text": "Я займалася французькою мовою на рівні A2-B1 з викладачем Дарією та дуже її рекомендую. По-перше,   стовідсоткове потрапляння у запит, ми займалися чітко під мої цілі, по-друге, чітке розуміння мого рівня, і заняття були ні надто важкими, ні надто легкими. Т головне, я скоро помітила реальний результат, спілкуватися стало легше та вільніше!",
                })

                @@include('../components/review-card.html', {
                    "name": "Олександра", 
                    "date": "25.01.2022",
                    "course": "Іспанська мова, Рівень А1-A2",
                    "text": "Займаюся з репетитором 2 місяці, дуже задоволена. Репетитор дуже детально і зрозуміло пояснює матеріал. Наразі навіть збільшила кількість уроків на тиждень, оскільки пододобається атмосфера занять.",
                })

                @@include('../components/review-card.html', {
                    "name": "Лана", 
                    "date": "15.02.2023",
                    "course": "Французька мова, Розмовна мова",
                    "text": "Я займалася французькою мовою на рівні A2-B1 з викладачем Дарією та дуже її рекомендую. По-перше,   стовідсоткове потрапляння у запит, ми займалися чітко під мої цілі, по-друге, чітке розуміння мого рівня, і заняття були ні надто важкими, ні надто легкими. Т головне, я скоро помітила реальний результат, спілкуватися стало легше та вільніше!",
                })

                @@include('../components/review-card.html', {
                    "name": "Любов", 
                    "date": "13.02.2023",
                    "course": "Французька мова, Рівень В1-B2",
                    "text": "Мені сподобався рівень знань репетитора, якісне використання часу на занятті та інтенсивність навантажень. Займаюсь вже декілька місяців, результати радують, рекомендую",
                })

                @@include('../components/review-card.html', {
                    "name": "Дмитро", 
                    "date": "02.03.2021",
                    "course": "Німецька мова, Іспанська мова, Молодші класи 1-4, Репетитор для початківців",
                    "text": "У мене хлопчики-близнюки. 10 років, живемо в Ірландії. Англійська - наша друга мова, але хлопці самі для себе дуже хочуть вивчити інші мови, один хоче іспанську, а інший хоче німецьку, бачив, як кожен день вони самі в телефонах за програмою Duolingo займаються, вирішив, що пора їм підключати репетитора. звʼязався з Русланою. і повністю. повністю задоволений, і діти теж. У Руслани є вчителі німецької, і іспанської, що дуже зручно для мене, я оплачую відразу на двох 32 заняття, за що отримую хоро"
                })

            
                @@include('../components/review-card.html', {
                    "name": "Олександра", 
                    "date": "25.01.2022",
                    "course": "Іспанська мова, Рівень А1-A2",
                    "text": "Займаюся з репетитором 2 місяці, дуже задоволена. Репетитор дуже детально і зрозуміло пояснює матеріал. Наразі навіть збільшила кількість уроків на тиждень, оскільки пододобається атмосфера занять.",
                })

               

                @@include('../components/review-card.html', {
                    "name": "Любов", 
                    "date": "13.02.2023",
                    "course": "Французька мова, Рівень В1-B2",
                    "text": "Мені сподобався рівень знань репетитора, якісне використання часу на занятті та інтенсивність навантажень. Займаюсь вже декілька місяців, результати радують, рекомендую",
                })
                

                @@include('../components/review-card.html', {
                    "name": "Дмитро", 
                    "date": "07.04.2021",
                    "course": "Німецька мова, Рівень А1-А2",
                    "text": "Репетитор відповідально готується до занять. Хочу відзначити індивідуальний підхід. Дуже задоволений",
                })

                @@include('../components/review-card.html', {
                    "name": "Олександра", 
                    "date": "25.01.2022",
                    "course": "Іспанська мова, Рівень А1-A2",
                    "text": "Займаюся з репетитором 2 місяці, дуже задоволена. Репетитор дуже детально і зрозуміло пояснює матеріал. Наразі навіть збільшила кількість уроків на тиждень, оскільки пододобається атмосфера занять.",
                })

                @@include('../components/review-card.html', {
                    "name": "Лана", 
                    "date": "15.02.2023",
                    "course": "Французька мова, Розмовна мова",
                    "text": "Я займалася французькою мовою на рівні A2-B1 з викладачем Дарією та дуже її рекомендую. По-перше,   стовідсоткове потрапляння у запит, ми займалися чітко під мої цілі, по-друге, чітке розуміння мого рівня, і заняття були ні надто важкими, ні надто легкими. Т головне, я скоро помітила реальний результат, спілкуватися стало легше та вільніше!",
                })
                

                @@include('../components/review-card.html', {
                    "name": "Дмитро", 
                    "date": "02.03.2021",
                    "course": "Німецька мова, Іспанська мова, Молодші класи 1-4, Репетитор для початківців",
                    "text": "У мене хлопчики-близнюки. 10 років, живемо в Ірландії. Англійська - наша друга мова, але хлопці самі для себе дуже хочуть вивчити інші мови, один хоче іспанську, а інший хоче німецьку, бачив, як кожен день вони самі в телефонах за програмою Duolingo займаються, вирішив, що пора їм підключати репетитора. звʼязався з Русланою. і повністю. повністю задоволений, і діти теж. У Руслани є вчителі німецької, і іспанської, що дуже зручно для мене, я оплачую відразу на двох 32 заняття, за що отримую хоро"
                })

                @@include('../components/review-card.html', {
                    "name": "Дмитро", 
                    "date": "07.04.2021",
                    "course": "Німецька мова, Рівень А1-А2",
                    "text": "Репетитор відповідально готується до занять. Хочу відзначити індивідуальний підхід. Дуже задоволений",
                })

                @@include('../components/review-card.html', {
                    "name": "Лана", 
                    "date": "15.02.2023",
                    "course": "Французька мова, Розмовна мова",
                    "text": "Я займалася французькою мовою на рівні A2-B1 з викладачем Дарією та дуже її рекомендую. По-перше,   стовідсоткове потрапляння у запит, ми займалися чітко під мої цілі, по-друге, чітке розуміння мого рівня, і заняття були ні надто важкими, ні надто легкими. Т головне, я скоро помітила реальний результат, спілкуватися стало легше та вільніше!",
                })

                @@include('../components/review-card.html', {
                    "name": "Олександра", 
                    "date": "25.01.2022",
                    "course": "Іспанська мова, Рівень А1-A2",
                    "text": "Займаюся з репетитором 2 місяці, дуже задоволена. Репетитор дуже детально і зрозуміло пояснює матеріал. Наразі навіть збільшила кількість уроків на тиждень, оскільки пододобається атмосфера занять.",
                })

                @@include('../components/review-card.html', {
                    "name": "Лана", 
                    "date": "15.02.2023",
                    "course": "Французька мова, Розмовна мова",
                    "text": "Я займалася французькою мовою на рівні A2-B1 з викладачем Дарією та дуже її рекомендую. По-перше,   стовідсоткове потрапляння у запит, ми займалися чітко під мої цілі, по-друге, чітке розуміння мого рівня, і заняття були ні надто важкими, ні надто легкими. Т головне, я скоро помітила реальний результат, спілкуватися стало легше та вільніше!",
                })

                @@include('../components/review-card.html', {
                    "name": "Любов", 
                    "date": "13.02.2023",
                    "course": "Французька мова, Рівень В1-B2",
                    "text": "Мені сподобався рівень знань репетитора, якісне використання часу на занятті та інтенсивність навантажень. Займаюсь вже декілька місяців, результати радують, рекомендую",
                })

                @@include('../components/review-card.html', {
                    "name": "Дмитро", 
                    "date": "02.03.2021",
                    "course": "Німецька мова, Іспанська мова, Молодші класи 1-4, Репетитор для початківців",
                    "text": "У мене хлопчики-близнюки. 10 років, живемо в Ірландії. Англійська - наша друга мова, але хлопці самі для себе дуже хочуть вивчити інші мови, один хоче іспанську, а інший хоче німецьку, бачив, як кожен день вони самі в телефонах за програмою Duolingo займаються, вирішив, що пора їм підключати репетитора. звʼязався з Русланою. і повністю. повністю задоволений, і діти теж. У Руслани є вчителі німецької, і іспанської, що дуже зручно для мене, я оплачую відразу на двох 32 заняття, за що отримую хоро"
                })

            
                @@include('../components/review-card.html', {
                    "name": "Олександра", 
                    "date": "25.01.2022",
                    "course": "Іспанська мова, Рівень А1-A2",
                    "text": "Займаюся з репетитором 2 місяці, дуже задоволена. Репетитор дуже детально і зрозуміло пояснює матеріал. Наразі навіть збільшила кількість уроків на тиждень, оскільки пододобається атмосфера занять.",
                })

               

                @@include('../components/review-card.html', {
                    "name": "Любов", 
                    "date": "13.02.2023",
                    "course": "Французька мова, Рівень В1-B2",
                    "text": "Мені сподобався рівень знань репетитора, якісне використання часу на занятті та інтенсивність навантажень. Займаюсь вже декілька місяців, результати радують, рекомендую",
                })
                

                @@include('../components/review-card.html', {
                    "name": "Дмитро", 
                    "date": "07.04.2021",
                    "course": "Німецька мова, Рівень А1-А2",
                    "text": "Репетитор відповідально готується до занять. Хочу відзначити індивідуальний підхід. Дуже задоволений",
                })

                @@include('../components/review-card.html', {
                    "name": "Олександра", 
                    "date": "25.01.2022",
                    "course": "Іспанська мова, Рівень А1-A2",
                    "text": "Займаюся з репетитором 2 місяці, дуже задоволена. Репетитор дуже детально і зрозуміло пояснює матеріал. Наразі навіть збільшила кількість уроків на тиждень, оскільки пододобається атмосфера занять.",
                })

                @@include('../components/review-card.html', {
                    "name": "Лана", 
                    "date": "15.02.2023",
                    "course": "Французька мова, Розмовна мова",
                    "text": "Я займалася французькою мовою на рівні A2-B1 з викладачем Дарією та дуже її рекомендую. По-перше,   стовідсоткове потрапляння у запит, ми займалися чітко під мої цілі, по-друге, чітке розуміння мого рівня, і заняття були ні надто важкими, ні надто легкими. Т головне, я скоро помітила реальний результат, спілкуватися стало легше та вільніше!",
                })
                

                @@include('../components/review-card.html', {
                    "name": "Дмитро", 
                    "date": "02.03.2021",
                    "course": "Німецька мова, Іспанська мова, Молодші класи 1-4, Репетитор для початківців",
                    "text": "У мене хлопчики-близнюки. 10 років, живемо в Ірландії. Англійська - наша друга мова, але хлопці самі для себе дуже хочуть вивчити інші мови, один хоче іспанську, а інший хоче німецьку, бачив, як кожен день вони самі в телефонах за програмою Duolingo займаються, вирішив, що пора їм підключати репетитора. звʼязався з Русланою. і повністю. повністю задоволений, і діти теж. У Руслани є вчителі німецької, і іспанської, що дуже зручно для мене, я оплачую відразу на двох 32 заняття, за що отримую хоро"
                })

                @@include('../components/review-card.html', {
                    "name": "Дмитро", 
                    "date": "07.04.2021",
                    "course": "Німецька мова, Рівень А1-А2",
                    "text": "Репетитор відповідально готується до занять. Хочу відзначити індивідуальний підхід. Дуже задоволений",
                })

                @@include('../components/review-card.html', {
                    "name": "Лана", 
                    "date": "15.02.2023",
                    "course": "Французька мова, Розмовна мова",
                    "text": "Я займалася французькою мовою на рівні A2-B1 з викладачем Дарією та дуже її рекомендую. По-перше,   стовідсоткове потрапляння у запит, ми займалися чітко під мої цілі, по-друге, чітке розуміння мого рівня, і заняття були ні надто важкими, ні надто легкими. Т головне, я скоро помітила реальний результат, спілкуватися стало легше та вільніше!",
                })

                @@include('../components/review-card.html', {
                    "name": "Олександра", 
                    "date": "25.01.2022",
                    "course": "Іспанська мова, Рівень А1-A2",
                    "text": "Займаюся з репетитором 2 місяці, дуже задоволена. Репетитор дуже детально і зрозуміло пояснює матеріал. Наразі навіть збільшила кількість уроків на тиждень, оскільки пододобається атмосфера занять.",
                })
                
                          
            </div>
        </div>
    </div>


    <div class="about-bg-left">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" 
            data-src="img/home/about/about-left.svg"
            decoding="async" alt="">
    </div>

    <div class="about-bg-right">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" 
            data-src="img/home/about/about-right.svg"
            decoding="async" alt="">
    </div>
</section>