<section class="ed-home-look">
    <div class="container">
        <div class="look-title">
            <div class="look-title__row">
                <span>Хочеш подивитися, як</span>
            </div>

            <div class="look-title__row">
                <span>пр</span>

                <div class="look-title__media">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" 
                        data-src="img/home/look/look-media1.jpg" 
                        decoding="async" alt="">
                </div>

                <span>х</span>

                <div class="look-title__media">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" 
                        data-src="img/home/look/look-media2.jpg" 
                        decoding="async" alt="">
                </div>

                <span>дить навчання?</span>
            </div>
        </div>

        <div class="look-subtitle h2">Запишись на пробний урок - <span>він безкоштовний.</span></div>

        <div class="look-button">
            <div class="button  callpopup" data-popup="callback">Записатися</div>
        </div>

        <div class="look-benefits">
            <div class="look-benefits__item">
                <div class="benefit-icon">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" 
                        data-src="img/home/look/benefits1.svg"
                        decoding="async" alt="">
                </div>

                <div class="benefit-info">
                    <div class="benefit-info__percent h1">94%</div>
                    <div class="benefit-info__title h5">студентів нас рекомендують</div>
                </div>
            </div>

            <div class="look-benefits__item">
                <div class="benefit-icon">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" 
                        data-src="img/home/look/benefits2.svg"
                        decoding="async" alt="">
                </div>

                <div class="benefit-info">
                    <div class="benefit-info__percent h1">63%</div>
                    <div class="benefit-info__title h5">вчителів живуть в країні, мову якої викладають</div>
                </div>
            </div>

            <div class="look-benefits__item">
                <div class="benefit-icon">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" 
                        data-src="img/home/look/benefits3.svg"
                        decoding="async" alt="">
                </div>

                <div class="benefit-info">
                    <div class="benefit-info__percent h1">70%</div>
                    <div class="benefit-info__title h5">уроку розмовна практика</div>
                </div>
            </div>
        </div>
    </div>

    <div class="ed-home-look__bg">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" 
            data-src="img/home/look/look.svg" 
            decoding="async" alt="">
    </div>
</section>