<section class="ed-home-start">
    <div class="start-lines">
        <svg viewBox="0 0 1920 627" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M-216.31 2.08907C-26.895 -8.2502 112.585 97.1772 270.874 181.262C494.364 299.991 751.319 346.774 1002.72 321.832C1147.71 307.451 1276.08 257.222 1411.38 206.508C1639.12 121.15 1875.45 -1.17742 2125.31 21.0514" stroke="#2D2D0B" stroke-miterlimit="10" stroke-dasharray="8 8"/>
            <path d="M-258.481 626.211C-85.6046 506.417 90.4827 390.429 276.992 292.753C464.898 194.343 659.185 124.251 873.042 180.059C1004.88 214.468 1122.44 285.583 1243.26 346.082C1368.28 408.685 1501.08 459.593 1638 488.894C1912.78 547.677 2206.06 532.189 2479.28 472.216" stroke="#2D2D0B" stroke-miterlimit="10" stroke-dasharray="8 8"/>
            <path d="M2263.75 286.649C2172.49 253.112 2068.48 256.517 1972.62 254.496C1551 245.596 1097.27 283.271 699.502 430.402C562.845 480.963 419.697 525.49 272.3 520.05C57.654 512.133 -137.477 400.159 -322.616 291.23" stroke="#2D2D0B" stroke-miterlimit="10" stroke-dasharray="8 8"/>
        </svg>
    </div>

   

    <div class="start-content">
        <div class="container">
            <div class="start-title h1">Як розпочати навчання?</div>

            <div class="start-steps">
                <div class="start-step">
                    <div class="start-step__icon">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" 
                            data-src="img/home/start/step1.svg"
                            decoding="async" alt="">
                    </div>

                    <div class="start-step__pretitle h4">Крок 1/2</div>
                    <div class="start-step__title h3">Заповни заявку на сайті</div>

                    <div class="button callpopup" data-popup="callback">Заповнити зараз</div>
                </div>

                <div class="start-step">
                    <div class="start-step__icon">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" 
                            data-src="img/home/start/step2.svg"
                            decoding="async" alt="">
                    </div>

                    <div class="start-step__pretitle h4">Крок 2/2</div>
                    <div class="start-step__title h3">Очікуй повідомлення чи дзвінок від нашого менеджера.  </div>
                </div>

                <div class="start-step">
                    <div class="start-step__title h3">Все інше ми зробимо самі:</div>

                    <div class="start-step__list h5">
                        <div class="start-step__list-item">
                            <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.89478 10.374L7.89478 16.374L19.8948 4.37402" stroke="#161616" stroke-width="2" stroke-linecap="round"/>
                            </svg>
                                
                            <svg><use xlink:href="#ed-svg-check2"></use></svg>
                            <span>визначимо твій рівень мови та мету навчання.</span>
                        </div>

                        <div class="start-step__list-item">
                            <svg><use xlink:href="#ed-svg-check2"></use></svg>
                            <span>узгодимо з тобою зручний час для пробного уроку.</span>
                        </div>

                        <div class="start-step__list-item">
                            <svg><use xlink:href="#ed-svg-check2"></use></svg>
                            <span>визначимо відповідну меті програму</span>
                        </div>

                        <div class="start-step__list-item">
                            <svg><use xlink:href="#ed-svg-check2"></use></svg>
                            <span>підберемо вчителя, з яким тобі комфортно та цікаво</span>
                        </div>
                    </div>
                    
                    <div class="start-step__title h3">І будемо разом з тобою радіти твоїм мовним успіхам!</div>
                </div>
            </div>
        </div>
    </div>
</section>