<section class="ed-home-courses">
    <div class="courses-banner">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" 
            data-src="img/home/avocado-fly.svg"
            decoding="async" alt="">
    </div>
        
    <div class="container">
        <div class="courses-title h1">Підбери ідеальний для себе курс</div>

        <div class="courses-features">
            <div class="courses-features__item">
                <div class="button callpopup" data-popup="callback">Мені потрібна консультація</div>
            </div>
            
            <div class="courses-features__item">
                <div class="feature">
                    <div class="feature__icon">
                        <svg><use xlink:href="#ed-svg-check"></use></svg>
                    </div>

                    <div class="feature__title h4">Всі матеріали зручно зібрані в одному місці на диску</div>
                </div>
            </div>

            <div class="courses-features__item">
                <div class="feature">
                    <div class="feature__icon">
                        <svg><use xlink:href="#ed-svg-check"></use></svg>
                    </div>

                    <div class="feature__title h4">Вчитель перевіряє всі самостійні завдання та надає фідбек</div>
                </div>
            </div>

            <div class="courses-features__item">
                <div class="feature">
                    <div class="feature__icon">
                        <svg><use xlink:href="#ed-svg-check"></use></svg>
                    </div>

                    <div class="feature__title h4">Після закінчення курсу /семестру видається сертифікат відповідно до CEFR</div>
                </div>
            </div>

            <div class="courses-features__item">
                <div class="feature">
                    <div class="feature__icon">
                        <svg><use xlink:href="#ed-svg-check"></use></svg>
                    </div>

                    <div class="feature__title h4">Ми записуємо відео уроків, щоб студенти могли відпрацювати пропущений урок</div>
                </div>
            </div>

            <div class="courses-features__item">
                <div class="feature">
                    <div class="feature__icon">
                        <svg><use xlink:href="#ed-svg-check"></use></svg>
                    </div>

                    <div class="feature__title h4">Доступ до матеріалів ще зберігається місяць після закінчення курсу</div>
                </div>
            </div>
        </div>

        <div class="ed-accordions" id="ed-courses">
            <div class="accordion">
                <div class="accordion-body">
                    <div class="accordion-title h2">
                        <span>Курс 1</span>
                        <svg><use xlink:href="#ed-svg-half1"></use></svg>
                        <span>Розмовний інтенсив POINT B</span>
                    </div>

                    <div class="accordion-tags h5">
                        <div class="accordion-tags__item">
                            <svg><use xlink:href="#ed-svg-tag"></use></svg>
                            <span>для реального життя</span>
                        </div>
                        
                        <div class="accordion-tags__item">
                            <svg><use xlink:href="#ed-svg-tag"></use></svg>
                            <span>для робочих проектів</span>
                        </div>

                        <div class="accordion-tags__item">
                            <svg><use xlink:href="#ed-svg-tag"></use></svg>
                            <span>для міжнародних іспитів</span>
                        </div>
                    </div>

                    <div class="accordion-block">
                        <p>Цей курс підійде тобі, якщо ти хочеш навчитися вільно говорити у повсякденному житті, почувати себе впевнено закордоном або на роботі під час розмови з іноземними клієнтами чи колегами. Окрім спілкування на найважливіші теми ти вивчиш лексику, граматику та фонетику.</p>
                    </div>

                    <div class="accordion-block">
                        <div class="h4">Що тебе чекає:</div>

                        <div class="accordion-steps">
                            <div class="step">
                                <div class="step__icon">
                                    <svg><use xlink:href="#ed-svg-arrow-right"></use></svg>
                                </div>

                                <div class="step__title">24 години активного говоріння.</div>
                            </div>

                            <div class="step">
                                <div class="step__icon">
                                    <svg><use xlink:href="#ed-svg-arrow-right"></use></svg>
                                </div>

                                <div class="step__title">2 семестри по 2 місяці (для рівнів А1, А2) або 3 семестри по 2 місяці  (для рівнів В1-В2).</div>
                            </div>

                            <div class="step">
                                <div class="step__icon">
                                    <svg><use xlink:href="#ed-svg-arrow-right"></use></svg>
                                </div>

                                <div class="step__title">3 години говоріння на тиждень (2 уроки по 90 хв або 3 уроки по 60 хв на тиждень).</div>
                            </div>

                            <div class="step">
                                <div class="step__icon">
                                    <svg><use xlink:href="#ed-svg-arrow-right"></use></svg>
                                </div>

                                <div class="step__title">Розмовні клуби в подарунок.</div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-block">
                        <div class="h4">Ціна:</div>

                        <div class="accordion-options">
                            <div class="option">
                                <div class="option__icon">
                                    <svg><use xlink:href="#ed-svg-half2"></use></svg>
                                </div>

                                <div class="option__title">Міні-група з 4 студентів:</div>
                                <div class="option__cost h4">120 євро або 4800 грн. (5 євро/200 грн за годину занять)</div>
                            </div>

                            <div class="option">
                                <div class="option__icon">
                                    <svg><use xlink:href="#ed-svg-half2"></use></svg>
                                </div>

                                <div class="option__title">Мінігрупа з 2 студентів:</div>
                                <div class="option__cost h4">180  євро або 7200 грн. ( 7,5 євро/300 грн за годину занять)</div>
                            </div>

                            <div class="option">
                                <div class="option__icon">
                                    <svg><use xlink:href="#ed-svg-half2"></use></svg>
                                </div>

                                <div class="option__title">Індивідуально:</div>
                                <div class="option__cost h4">240  євро або 9600 грн (10 євро/400 грн за годину занять)</div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-block">
                        <div class="accordion-parts">
                            <div class="accordion-parts__icon">
                                <svg><use xlink:href="#ed-svg-parts"></use></svg>
                            </div>

                            <div class="accordion-parts__title">За запитом можлива оплата частинами!</div>
                        </div>
                    </div>

                    <div class="accordion-image">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" 
                            data-src="img/home/courses/course1.svg"
                            decoding="async" alt="">
                    </div>

                    <form class="form accordion-form">
                        <input type="hidden" name="title" value="Курс 1 - Розмовний інтенсив POINT B">

                        <div class="form-row">
                            <input class="form-row__input required" type="text" name="phone" placeholder="+38 (- - -) - - - - - - -">
                        </div>        

                        <div class="form-row form-row--button">
                            <button class="button" type="submit">Хочу спробувати</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="accordion">
                <div class="accordion-body">
                    <div class="accordion-title h2">
                        <span>Курс 2</span>
                        <svg><use xlink:href="#ed-svg-half1"></use></svg>
                        <span>Розмовний інтенсив NATIVATION</span>
                    </div>

                    <div class="accordion-tags h5">
                        <div class="accordion-tags__item">
                            <svg><use xlink:href="#ed-svg-tag"></use></svg>
                            <span>для реального життя</span>
                        </div>
                        
                        <div class="accordion-tags__item">
                            <svg><use xlink:href="#ed-svg-tag"></use></svg>
                            <span>для робочих проектів</span>
                        </div>
                    </div>

                    <div class="accordion-block">
                        <p>Розмовний інтенсив для рівнів А1-В2. Це супер-boost розмовних навичок!  30 годин говоріння та 30 годин самостійної роботи з нашими матеріалами зроблять з тебе майже носія!</p>
                    </div>

                    <div class="accordion-block">
                        <div class="h4">Що тебе чекає:</div>

                        <div class="accordion-steps">
                            <div class="step">
                                <div class="step__icon">
                                    <svg><use xlink:href="#ed-svg-arrow-right"></use></svg>
                                </div>

                                <div class="step__title">4 тижні інтенсивного спілкування іноземною.</div>
                            </div>

                            <div class="step">
                                <div class="step__icon">
                                    <svg><use xlink:href="#ed-svg-arrow-right"></use></svg>
                                </div>

                                <div class="step__title">7,5 години говоріння на тиждень (уроки по 90 хв 5 днів на тиждень).</div>
                            </div>

                            <div class="step">
                                <div class="step__icon">
                                    <svg><use xlink:href="#ed-svg-arrow-right"></use></svg>
                                </div>

                                <div class="step__title">Розмовні клуби в подарунок.</div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-block">
                        <div class="h4">Ціна:</div>

                        <div class="accordion-options">
                            <div class="option">
                                <div class="option__icon">
                                    <svg><use xlink:href="#ed-svg-half2"></use></svg>
                                </div>

                                <div class="option__title">Міні-група з 4 студентів:</div>
                                <div class="option__cost h4">150 євро або 6000 грн. (5 євро/200 грн за годину занять)</div>
                            </div>

                            <div class="option">
                                <div class="option__icon">
                                    <svg><use xlink:href="#ed-svg-half2"></use></svg>
                                </div>

                                <div class="option__title">Мінігрупа з 2 студентів:</div>
                                <div class="option__cost h4">225  євро або 9000 грн. ( 7,5 євро/300 грн за годину занять)</div>
                            </div>

                            <div class="option">
                                <div class="option__icon">
                                    <svg><use xlink:href="#ed-svg-half2"></use></svg>
                                </div>

                                <div class="option__title">Індивідуально:</div>
                                <div class="option__cost h4">300  євро або 12000 грн (10 євро/400 грн за годину занять)</div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-block">
                        <div class="accordion-parts">
                            <div class="accordion-parts__icon">
                                <svg><use xlink:href="#ed-svg-parts"></use></svg>
                            </div>

                            <div class="accordion-parts__title">За запитом можлива оплата частинами!</div>
                        </div>
                    </div>

                    <form class="form accordion-form">
                        <input type="hidden" name="title" value="Курс 2 - Розмовний інтенсив NATIVATION">

                        <div class="form-row">
                            <input class="form-row__input required" type="text" name="phone" placeholder="+38 (- - -) - - - - - - -">
                        </div>        

                        <div class="form-row form-row--button">
                            <button class="button" type="submit">Хочу спробувати</button>
                        </div>
                    </form>

                    <div class="accordion-image">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" 
                            data-src="img/home/courses/course2.svg"
                            decoding="async" alt="">
                    </div>
                </div>
            </div>

            <div class="accordion">
                <div class="accordion-body">
                    <div class="accordion-title h2">
                        <span>Курс 3</span>
                        <svg><use xlink:href="#ed-svg-half1"></use></svg>
                        <span>Бізнес-курс C-LEVEL</span>
                    </div>

                    <div class="accordion-tags h5">
                        <div class="accordion-tags__item">
                            <svg><use xlink:href="#ed-svg-tag"></use></svg>
                            <span>для робочих проектів</span>
                        </div>
                    </div>

                    <div class="accordion-block">
                        <p>Загальний бізнес-курс для рівнів А1-С1, що охоплює різні сфери бізнесу. Викладачі курсу мають досвід роботи в міжнародних компаніях / викладання корпоративних бізнес-курсів.</p>
                    </div>

                    <div class="accordion-block">
                        <div class="h4">Що тебе чекає:</div>

                        <div class="accordion-steps">
                            <div class="step">
                                <div class="step__icon">
                                    <svg><use xlink:href="#ed-svg-arrow-right"></use></svg>
                                </div>

                                <div class="step__title">4 місяці навчання.</div>
                            </div>

                            <div class="step">
                                <div class="step__icon">
                                    <svg><use xlink:href="#ed-svg-arrow-right"></use></svg>
                                </div>

                                <div class="step__title">2 семестри по 36 годин (24 уроків по 90 хвилин).</div>
                            </div>

                            <div class="step">
                                <div class="step__icon">
                                    <svg><use xlink:href="#ed-svg-arrow-right"></use></svg>
                                </div>

                                <div class="step__title">4,5 години говоріння на тиждень (3 уроки по 90 хв).</div>
                            </div>

                            <div class="step">
                                <div class="step__icon">
                                    <svg><use xlink:href="#ed-svg-arrow-right"></use></svg>
                                </div>

                                <div class="step__title">Розмовні клуби з носієм в подарунок.</div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-block">
                        <div class="h4">Ціна:</div>

                        <div class="accordion-options">
                            <div class="option">
                                <div class="option__icon">
                                    <svg><use xlink:href="#ed-svg-half2"></use></svg>
                                </div>

                                <div class="option__title">Міні-група з 4 студентів:</div>
                                <div class="option__cost h4">234 євро або 9360 грн. (6,5 євро/260 грн за годину занять)</div>
                            </div>

                            <div class="option">
                                <div class="option__icon">
                                    <svg><use xlink:href="#ed-svg-half2"></use></svg>
                                </div>

                                <div class="option__title">Мінігрупа з 2 студентів:</div>
                                <div class="option__cost h4">324  євро або 12960 грн (9 євро/360 грн за годину занять)</div>
                            </div>

                            <div class="option">
                                <div class="option__icon">
                                    <svg><use xlink:href="#ed-svg-half2"></use></svg>
                                </div>

                                <div class="option__title">Індивідуально:</div>
                                <div class="option__cost h4">432  євро або 17280 грн. ( 12 євро/480 грн за годину занять)</div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-block">
                        <div class="accordion-parts">
                            <div class="accordion-parts__icon">
                                <svg><use xlink:href="#ed-svg-parts"></use></svg>
                            </div>

                            <div class="accordion-parts__title">За запитом можлива оплата частинами!</div>
                        </div>
                    </div>

                    <form class="form accordion-form">
                        <input type="hidden" name="title" value="Курс 3 - Бізнес-курс C-LEVEL">

                        <div class="form-row">
                            <input class="form-row__input required" type="text" name="phone" placeholder="+38 (- - -) - - - - - - -">
                        </div>        

                        <div class="form-row form-row--button">
                            <button class="button" type="submit">Хочу спробувати</button>
                        </div>
                    </form>

                    <div class="accordion-image">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" 
                            data-src="img/home/courses/course3.svg"
                            decoding="async" alt="">
                    </div>
                </div>
            </div>

            <div class="accordion">
                <div class="accordion-body">
                    <div class="accordion-title h2">
                        <span>Спеціалізований</span>
                        <svg><use xlink:href="#ed-svg-half1"></use></svg>
                        <span>ПРОФІЛЬНІ КУРСИ DEEP DIVE</span>
                    </div>

                    <div class="accordion-tags h5">
                        <div class="accordion-tags__item">
                            <svg><use xlink:href="#ed-svg-tag"></use></svg>
                            <span>для реального життя</span>
                        </div>

                        <div class="accordion-tags__item">
                            <svg><use xlink:href="#ed-svg-tag"></use></svg>
                            <span>для робочих проектів</span>
                        </div>

                        <div class="accordion-tags__item">
                            <svg><use xlink:href="#ed-svg-tag"></use></svg>
                            <span>для міжнародних іспитів</span>
                        </div>
                    </div>

                    <div class="accordion-block">
                        <p>Цей курс підійде для менеджменту, маркетологів, лікарів, фінансистів, ІТ, бухгалтерів, відділів продажу, інженерів, HR, авіакоманд, готельного бізнесу. Розраховані на рівень В1+ і вище.</p>

                        <p>Курс, на якому ти будеш спілкуватися на вузькоспеціалізовані  теми для своєї професії. З викладачем, який має досвід роботи в тій сфері / викладання корпоративних профільних бізнес-курсів.</p>
                    </div>

                    <div class="accordion-block">
                        <div class="h4">Що тебе чекає:</div>

                        <div class="accordion-steps">
                            <div class="step">
                                <div class="step__icon">
                                    <svg><use xlink:href="#ed-svg-arrow-right"></use></svg>
                                </div>

                                <div class="step__title">2 місяці навчання.</div>
                            </div>

                            <div class="step">
                                <div class="step__icon">
                                    <svg><use xlink:href="#ed-svg-arrow-right"></use></svg>
                                </div>

                                <div class="step__title">24 уроки по 90 хвилин.</div>
                            </div>

                            <div class="step">
                                <div class="step__icon">
                                    <svg><use xlink:href="#ed-svg-arrow-right"></use></svg>
                                </div>

                                <div class="step__title">36 годин спілкування.</div>
                            </div>

                            <div class="step">
                                <div class="step__icon">
                                    <svg><use xlink:href="#ed-svg-arrow-right"></use></svg>
                                </div>

                                <div class="step__title">4,5 години говоріння на тиждень (3 уроки по 90 хв).</div>
                            </div>

                            <div class="step">
                                <div class="step__icon">
                                    <svg><use xlink:href="#ed-svg-arrow-right"></use></svg>
                                </div>

                                <div class="step__title">4,5 годин самостійної роботи на тиждень (45 хв самостійної роботи на день).</div>
                            </div>

                            <div class="step">
                                <div class="step__icon">
                                    <svg><use xlink:href="#ed-svg-arrow-right"></use></svg>
                                </div>

                                <div class="step__title">Розмовні клуби з носієм в подарунок.</div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-block">
                        <div class="h4">Ціна:</div>

                        <div class="accordion-options">
                            <div class="option">
                                <div class="option__icon">
                                    <svg><use xlink:href="#ed-svg-half2"></use></svg>
                                </div>

                                <div class="option__title">Міні-група з 4 студентів:</div>
                                <div class="option__cost h4">324 євро або 12960 грн. (9 євро/360 грн за годину занять)</div>
                            </div>

                            <div class="option">
                                <div class="option__icon">
                                    <svg><use xlink:href="#ed-svg-half2"></use></svg>
                                </div>

                                <div class="option__title">Мінігрупа з 2 студентів:</div>
                                <div class="option__cost h4">432  євро або 17280 грн. ( 12 євро/480 грн за годину занять)</div>
                            </div>

                            <div class="option">
                                <div class="option__icon">
                                    <svg><use xlink:href="#ed-svg-half2"></use></svg>
                                </div>

                                <div class="option__title">Індивідуально:</div>
                                <div class="option__cost h4">540  євро або 21600 грн (від 15 євро/600 грн за годину занять)</div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-block">
                        <div class="accordion-parts">
                            <div class="accordion-parts__icon">
                                <svg><use xlink:href="#ed-svg-parts"></use></svg>
                            </div>

                            <div class="accordion-parts__title">За запитом можлива оплата частинами! Ми надаємо всі необхідні документи для відшкодування компанією вартості навчання.</div>
                        </div>
                    </div>

                    <form class="form accordion-form">
                        <input type="hidden" name="title" value="Курс Спеціалізований - ПРОФІЛЬНІ КУРСИ DEEP DIVE">

                        <div class="form-row">
                            <input class="form-row__input required" type="text" name="phone" placeholder="+38 (- - -) - - - - - - -">
                        </div>        

                        <div class="form-row form-row--button">
                            <button class="button" type="submit">Хочу спробувати</button>
                        </div>
                    </form>

                    <div class="accordion-image">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" 
                            data-src="img/home/courses/course4.svg"
                            decoding="async" alt="">
                    </div>
                </div>
            </div>

            <div class="accordion active">
                <div class="accordion-body">
                    <div class="accordion-title h2">
                        <span>Індивідуальний</span>
                        <svg><use xlink:href="#ed-svg-half1"></use></svg>
                        <span>Навчання залежно від твоїх цілей</span>
                    </div>

                    <div class="accordion-tags h5">
                        <div class="accordion-tags__item">
                            <svg><use xlink:href="#ed-svg-tag"></use></svg>
                            <span>для реального життя</span>
                        </div>

                        <div class="accordion-tags__item">
                            <svg><use xlink:href="#ed-svg-tag"></use></svg>
                            <span>для робочих проектів</span>
                        </div>

                        <div class="accordion-tags__item">
                            <svg><use xlink:href="#ed-svg-tag"></use></svg>
                            <span>для міжнародних іспитів</span>
                        </div>
                    </div>

                    <div class="accordion-block">
                        <p>Ти навчаєшся за індивідуальною програмою, яку ми складаємо ще до початку навчання залежно від твоїх цілей. Ти сам обираєш частоту, тривалість та графік занять.</p>
                    </div>

                    <div class="accordion-block">
                        <div class="h4">Що тебе чекає:</div>

                        <div class="accordion-steps">
                            <div class="step">
                                <div class="step__icon">
                                    <svg><use xlink:href="#ed-svg-arrow-right"></use></svg>
                                </div>

                                <div class="step__title">24 години активного говоріння.</div>
                            </div>

                            <div class="step">
                                <div class="step__icon">
                                    <svg><use xlink:href="#ed-svg-arrow-right"></use></svg>
                                </div>

                                <div class="step__title">2 семестри по 2 місяці (для рівнів А1, А2) або 3 семестри по 2 місяці  (для рівнів В1-В2).</div>
                            </div>

                            <div class="step">
                                <div class="step__icon">
                                    <svg><use xlink:href="#ed-svg-arrow-right"></use></svg>
                                </div>

                                <div class="step__title">3 години говоріння на тиждень (2 уроки по 90 хв або 3 уроки по 60 хв на тиждень).</div>
                            </div>

                            <div class="step">
                                <div class="step__icon">
                                    <svg><use xlink:href="#ed-svg-arrow-right"></use></svg>
                                </div>

                                <div class="step__title">Розмовні клуби в подарунок.</div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-block">
                        <div class="h4">Ціна:</div>

                        <div class="accordion-options">
                            <div class="option">
                                <div class="option__icon">
                                    <svg><use xlink:href="#ed-svg-half2"></use></svg>
                                </div>

                                <div class="option__title">Англійська, німецька, польська, українська, французька, іспанська, італійська:</div>
                                <div class="option__cost h4">10 євро або 400 грн за годину</div>
                            </div>

                            <div class="option">
                                <div class="option__icon">
                                    <svg><use xlink:href="#ed-svg-half2"></use></svg>
                                </div>

                                <div class="option__title">Китайська, арабська, японська, гінді:</div>
                                <div class="option__cost h4">12 євро або 480 грн за годину</div>
                            </div>
                        </div>
                    </div>

                    <form class="form accordion-form">
                        <input type="hidden" name="title" value="Курс Індивідуальний - Навчання залежно від твоїх цілей">

                        <div class="form-row">
                            <input class="form-row__input required" type="text" name="phone" placeholder="+38 (- - -) - - - - - - -">
                        </div>        

                        <div class="form-row form-row--button">
                            <button class="button" type="submit">Хочу спробувати</button>
                        </div>
                    </form>

                    <div class="accordion-image">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" 
                            data-src="img/home/courses/course5.svg"
                            decoding="async" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>