<section class="ed-home-clubs">
    <div class="container">
        <div class="classes-content">
            <div class="classes-title h1 classes-content__item">А чи є у вас розмовні клуби?</div>
            <div class="clubs-text classes-content__item">Звісно! Це чудова нагода потренувати мову і цікаво провести час.</div>
        
            <div class="classes-content__item">
                <div class="classes-block">
                    <div class="classes-block__title h3">Розмовний клуб</div>

                    <div class="classes-block__list h5">
                        <div class="classes-block__list-item">
                            <svg><use xlink:href="#ed-svg-check"></use></svg>
                            <span>1 раз на тиждень (60 хв) для всіх рівнів</span>
                        </div>

                        <div class="classes-block__list-item">
                            <svg><use xlink:href="#ed-svg-check"></use></svg>
                            <span>Групи поділяються за віком та рівнями.</span>
                        </div>

                        <div class="classes-block__list-item">
                            <svg><use xlink:href="#ed-svg-check"></use></svg>
                            <span>Вчителі – як україномовні, так і носії мови. </span>
                        </div>
                    </div>
                
                    <div class="button callpopup" data-popup="callback">Хочу спробувати</div>
                </div>
            </div>

            <div class="classes-content__item">
                <div class="classes-block">
                    <div class="classes-block__title h3">Індивідуальні спікінг-сесії</div>
                    <div class="classes-block__subtitle h4"> З україномовним вчителем:100 грн./15 хв.,200 грн/30 хв. <br> З носієм мови: 150 грн. /15 хв., 300 грн/30 хв.</div>

                    <div class="classes-block__list h5">
                        <div class="classes-block__list-item">
                            <svg><use xlink:href="#ed-svg-check"></use></svg>
                            <span>По телефону, через Viber, WhatsApp, Telegram тривалістю від 15 хвилин.</span>
                        </div>

                        <div class="classes-block__list-item">
                            <svg><use xlink:href="#ed-svg-check"></use></svg>
                            <span>Націлені на покращення розмовних навичок.</span>
                        </div>

                        <div class="classes-block__list-item">
                            <svg><use xlink:href="#ed-svg-check"></use></svg>
                            <span>Допоможуть подолати мовний бар’єр, будуть корисні при підготовці до зустрічей, виступів, подорожей, коли немає часу на стандартні уроки.</span>
                        </div>

                        <div class="classes-block__list-item">
                            <svg><use xlink:href="#ed-svg-check"></use></svg>
                            <span>Можеш заздалегідь обрати тему або спілкуватися за покликом душі.</span>
                        </div>
                    </div>
                
                    <div class="button callpopup" data-popup="callback">Хочу спробувати</div>
                </div>
            </div>

            <div class="classes-image classes-content__item">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" 
                    data-src="img/home/clubs.svg"
                    decoding="async" alt="">
            </div>
        </div>
    </div>
</section>