<section class="ed-home-guarantees">
    <div class="container">
        <div class="guarantees-content">
            <div class="h1 guarantees-title"> А які гарантії?</div>
            <div class="guarantees-subtitle h4">Ми гарантуємо результат! Це означає, що ми впевнені у нашій методиці та нашому підході до навчання. Ти обов'язково досягнеш бажаного результату, якщо сумлінно дотримуватимешся всіх етапів навчання:</div>

            <div class="guarantees-conditions h4">
                <div class="condition">
                    <div class="condition-icon">
                        <svg><use xlink:href="#ed-svg-condition"></use></svg>
                    </div>
                    <div class="condition-title">Відвідування мінімум 90% занять</div>
                </div>
               
                <div class="condition">
                    <div class="condition-icon">
                        <svg><use xlink:href="#ed-svg-condition"></use></svg>
                    </div>
                    <div class="condition-title">Відпрацювання пропущених занять</div>
                </div>

                <div class="condition">
                    <div class="condition-icon">
                        <svg><use xlink:href="#ed-svg-condition"></use></svg>
                    </div>
                    <div class="condition-title">Виконання домашніх завдань у повному обсязі</div>
                </div>
            </div>

            <div class="guarantees-footer h3">Якщо після проходження відповідного курсу та виконання всіх умов, ти не досягаєш запланованої мети і твій загальний бал іспиту наприкінці курсу нижче 75%,  ти можеш пройти курс ще раз <span>БЕЗКОШТОВНО!</span></div>

            
        

            <div class="guarantees-bg">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" 
                    data-src="img/home/guarantees-bg.svg"
                    decoding="async" alt="">
            </div>
        </div>
    </div>
</section>