<div class="language">
	<div class="language__image">
		<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" 
			data-src="img/home/languages/@@image.svg"
            class="language__image-normal" alt="">

        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" 
			data-src="img/home/languages/@@image-active.svg"
            class="language__image-active" alt="">
	</div>

	<div class="technology__title">@@name</div>
</div>