<section class="ed-home-trial">
    <div class="trial-bg">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" 
            data-src="img/home/trial-bg.svg"
            decoding="async" alt="">
    </div>
        
    <div class="container">
        <div class="trial-title h2"> Ти можеш пройти стільки пробних уроків, скільки буде потрібно - щоб знайти того викладача чи групу, з якою тобі буде комфортніше. А отже і більш ефективно навчатися говорити.</div>
    </div>

    <div class="languages-ticker languages-ticker--trial callpopup" data-popup="trial">
        <div class="languages-ticker__wrapper">
			<div class="languages-ticker__line">

                <div class="language">
                    <div class="language__image">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" 
                            data-src="img/home/trial-icon.svg" alt="">
                    </div>
                
                    <div class="technology__title">пробний урок</div>
                </div>

                <div class="language">
                    <div class="language__image">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" 
                            data-src="img/home/trial-icon.svg" alt="">
                    </div>
                
                    <div class="technology__title">пройти</div>
                </div>

                <div class="language">
                    <div class="language__image">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" 
                            data-src="img/home/trial-icon.svg" alt="">
                    </div>
                
                    <div class="technology__title">пробний урок</div>
                </div>

                <div class="language">
                    <div class="language__image">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" 
                            data-src="img/home/trial-icon.svg" alt="">
                    </div>
                
                    <div class="technology__title">записатись</div>
                </div>
			</div>
		</div>
    </div>
</section>