<section class="ed-home-languages">
    <div class="languages-ticker">
        <div class="languages-ticker__wrapper">
			<div class="languages-ticker__line">

				@@include('home-languages__item.html', {"name": "Англійська", "image": "eng"})

                @@include('home-languages__item.html', {"name": "Німецька", "image": "germany"})

                @@include('home-languages__item.html', {"name": "Французька", "image": "france"})

                @@include('home-languages__item.html', {"name": "Польська", "image": "pol"})

                @@include('home-languages__item.html', {"name": "іспанська", "image": "spain"})

                @@include('home-languages__item.html', {"name": "японська", "image": "japan"})

                @@include('home-languages__item.html', {"name": "Італійська", "image": "italy"})

                @@include('home-languages__item.html', {"name": "Гінді", "image": "gindi"})

                @@include('home-languages__item.html', {"name": "китайська", "image": "china"})

                @@include('home-languages__item.html', {"name": "арабська", "image": "arab"})

			</div>
		</div>
    </div>

    <div class="languages-ticker languages-ticker--reverse">
        <div class="languages-ticker__wrapper">
			<div class="languages-ticker__line">

                @@include('home-languages__item.html', {"name": "арабська", "image": "arab"})

                @@include('home-languages__item.html', {"name": "китайська", "image": "china"})

                @@include('home-languages__item.html', {"name": "Гінді", "image": "gindi"})

                @@include('home-languages__item.html', {"name": "Італійська", "image": "italy"})

                @@include('home-languages__item.html', {"name": "японська", "image": "japan"})

                @@include('home-languages__item.html', {"name": "іспанська", "image": "spain"})

                @@include('home-languages__item.html', {"name": "Польська", "image": "pol"})

                @@include('home-languages__item.html', {"name": "Французька", "image": "france"})

                @@include('home-languages__item.html', {"name": "Німецька", "image": "germany"})

                @@include('home-languages__item.html', {"name": "Англійська", "image": "eng"})

			</div>
		</div>
    </div>
</section>