<section class="ed-home-banner">
    <div class="container">
        <div class="banner-content">
            <h1 class="banner-title h1">Міжнародна мовна онлайн-школа для тих, хто хоче вільно говорити іноземною.</h1>

            <div class="banner-subtitle h3">Допомагаємо заговорити 10 мовами:</div>

            <div class="banner-languages h4">
                <div class="banner-languages__row">
                    <div class="banner-languages__item">англійською</div>
                    <div class="banner-languages__icon"><svg><use xlink:href="#ed-svg-half1"></use></svg></div>
                    
                    <div class="banner-languages__item">німецькою</div>
                    <div class="banner-languages__icon"><svg><use xlink:href="#ed-svg-half2"></use></svg></div>
    
                    <div class="banner-languages__item">французькою</div>
                    <div class="banner-languages__icon"><svg><use xlink:href="#ed-svg-half1"></use></svg></div>
    
                    <div class="banner-languages__item">польською</div>

                    <div class="banner-languages__icon"><svg><use xlink:href="#ed-svg-half2"></use></svg></div>
                </div>
               

                <div class="banner-languages__row">
                    <div class="banner-languages__item">гінді</div>
                    <div class="banner-languages__icon"><svg><use xlink:href="#ed-svg-half1"></use></svg></div>
                    
                    <div class="banner-languages__item">італійською</div>
                    <div class="banner-languages__icon"><svg><use xlink:href="#ed-svg-half2"></use></svg></div>
    
                    <div class="banner-languages__item">іспанською</div>
                    <div class="banner-languages__icon"><svg><use xlink:href="#ed-svg-half1"></use></svg></div>
    
                    <div class="banner-languages__item">китайською</div>
                    <div class="banner-languages__icon"><svg><use xlink:href="#ed-svg-half2"></use></svg></div>
                </div>

                <div class="banner-languages__row">
                    <div class="banner-languages__item">арабською</div>
                    <div class="banner-languages__icon"><svg><use xlink:href="#ed-svg-half1"></use></svg></div>
                    
                    <div class="banner-languages__item">японською</div>
                    <div class="banner-languages__icon"><svg><use xlink:href="#ed-svg-half2"></use></svg></div>
                </div>
            </div>
        </div>

        <div class="banner-world">
            <div class="banner-world__content">
                <div class="banner-world__pretitle">Ми випустили</div>
                <div class="banner-world__title">понад 1000</div>
                
                <div class="banner-world__pretitle"> успішних задоволених студентів</div>
                <div class="banner-world__title">з 27 країн світу</div>
            </div>

            <div class="banner-world__image">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" 
                    data-src="img/home/world.svg" alt="">
            </div>
        </div>
    </div>
</section>