<section class="ed-home-classes">
    <div class="container">
        <div class="classes-content">
            <div class="classes-title h1 classes-content__item">Індивідуальні чи групові заняття: що обрати?</div>
            
            <div class="classes-image classes-content__item">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" 
                    data-src="img/home/classes.svg"
                    decoding="async" alt="">
            </div>

            <div class="classes-content__item">
                <div class="classes-block">
                    <div class="classes-block__title h3">Обирай індивідуальні, якщо:</div>

                    <div class="classes-block__list h5">
                        <div class="classes-block__list-item">
                            <svg><use xlink:href="#ed-svg-check"></use></svg>
                            <span>Хочеш, щоб програма була розроблена саме під твій запит.</span>
                        </div>

                        <div class="classes-block__list-item">
                            <svg><use xlink:href="#ed-svg-check"></use></svg>
                            <span>Ти хочеш концентруватися на важливих для тебе аспектах  мови — говоріння, письмо, мова для ділового спілкування тощо.</span>
                        </div>

                        <div class="classes-block__list-item">
                            <svg><use xlink:href="#ed-svg-check"></use></svg>
                            <span>Хочеш, щоб весь час уроку викладач приділяв увагу саме тобі.</span>
                        </div>

                        <div class="classes-block__list-item">
                            <svg><use xlink:href="#ed-svg-check"></use></svg>
                            <span>Хочеш навчатися у зручному для тебе темпі.</span>
                        </div>
                    </div>
                
                    <div class="button callpopup" data-popup="callback">Хочу спробувати</div>
                </div>
            </div>

            <div class="classes-content__item">
                <div class="classes-block">
                    <div class="classes-block__title h3">Займайся в мінігрупі (до 4 людей), якщо:</div>

                    <div class="classes-block__list h5">
                        <div class="classes-block__list-item">
                            <svg><use xlink:href="#ed-svg-check"></use></svg>
                            <span>Тобі подобається робота в команді і цікаві дискусії іноземною.</span>
                        </div>

                        <div class="classes-block__list-item">
                            <svg><use xlink:href="#ed-svg-check"></use></svg>
                            <span>Ти прагнеш нових знайомств і тобі цікавіше навчатися з однодумцями.</span>
                        </div>

                        <div class="classes-block__list-item">
                            <svg><use xlink:href="#ed-svg-check"></use></svg>
                            <span>Тобі важливо прокачати скіл розуміння мови з різною вимовою.</span>
                        </div>

                        <div class="classes-block__list-item">
                            <svg><use xlink:href="#ed-svg-check"></use></svg>
                            <span>Тобі важлива нижча вартість занять</span>
                        </div>
                    </div>
                
                    <div class="button callpopup" data-popup="callback">Хочу спробувати</div>
                </div>
            </div>
        </div>
    </div>
</section>