<section class="ed-home-appointment">
    <div class="container">
        <div class="appointment-title h1">Допомагаємо заговорити іноземною</div>

        <div class="appointment-list">
            <div class="appointment-item">
                <div class="appointment-item__icon">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" 
                        data-src="img/home/for-life.svg"
                        decoding="async" alt="">
                </div>

                <div class="appointment-item__title h3">Для реального життя</div>
                <div class="appointment-item__text">Ти зможеш вільно спілкуватися з іноземцями закордоном на будь-які теми - від найпростіших побутових питань до дискусій.</div>
            </div>

            <div class="appointment-item">
                <div class="appointment-item__icon">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" 
                        data-src="img/home/for-work.svg"
                        decoding="async" alt="">
                </div>

                <div class="appointment-item__title h3">Для робочих проєктів</div>
                <div class="appointment-item__text">Ти зможеш вільно спілкуватися з іноземними колегами, що дозволить тобі отримувати кращі офери та розвивати кар’єру. </div>
            </div>

            <div class="appointment-item">
                <div class="appointment-item__icon">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" 
                        data-src="img/home/for-exams.svg"
                        decoding="async" alt="">
                </div>

                <div class="appointment-item__title h3">Для міжнародних іспитів</div>
                <div class="appointment-item__text">Ти зможеш отримати високий бал на міжнародних іспитах і будеш пишатися своїм рівнем володіння іноземної мови.</div>
            </div>
        </div>

        <div class="appointment-footer h2">
            Почни навчання вже зараз

            <div class="button callpopup" data-popup="callback">Хочу спробувати</div>

            і будь ближче до своєї мети

            за допомогою Educado. 
        </div>
    </div>
</section>