body{

  bwchat#bwc-wrap #bwc-widget-action button, bwchat#bwc-wrap #bwc-widget-action .bwc-button{
    background-color: #8F8F2D!important;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  }
  .wp-menu-img img 		     { display: flex; display: -webkit-flex; align-items:center; -webkit-align-items:center; }
  .wp-menu-img img             { display: inline-block;}
  .wp-menu-img-before img      { margin-right: 10px; }
  .wp-menu-img-after img       { margin-left: 10px; }
}

@import "fonts/index";
@import "helpers/index";
@import "components/index";

@import "template-parts/preloader";
@import "template-parts/header";
@import "template-parts/footer";


@import "modules/swiper";

@import "pages/index";