
.ed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    padding: 30px 0;
    transition: .3s;

    @include screen-xxl {
        padding: 20px 0;
    }

    @include screen-sm {
        padding: 20px 0;
    }

    &.scroll {
        background: $color-white;
    }
    &:has(.ed-header__banner) {
        padding-top: 0;
        & + .ed-home{
            .ed-home-banner{
                padding-top: 180px;
            }
        }
    }
    &__banner{
        width: 100%;
        margin-bottom: 20px;
        padding: 10px 0;
        position: relative;
        z-index: 100;
        &-container{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-img{
            pointer-events: none;
            position: absolute;
            right: 100%;
            top: 0;
            height: 100%;
            width: auto;
            padding: 0 20px;
            img{
                height: 100%;
                max-width: none;
                width: auto;
            }
        }
        &-btn{
            position: relative;
            display: inline-flex;
            padding-left: 50px;
            padding-right: 50px;
            @media all and (max-width: 768px){
                padding-left: 30px;
                padding-right: 30px;
                font-size: 16px;
            }
            @media all and (max-width: 500px){
                padding: 10px 20px;
                font-size: 16px;
            }
        }
    }
    .ed-header-bar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 9;
    }

    .ed-header-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 118px;
        height: 100px;

        @include screen-xxl {
            width: 95px;
            height: 80px;
        }

        @include screen-sm {
            width: 65px;
            height: 55px;
            margin-right: auto;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .ed-header-menu {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @include font(22px, 1.18);
        text-transform: uppercase;
        margin-left: auto;
        margin-right: auto;
        padding-right: 76px;
        position: relative;
        .has-submenu{
            &:hover{
                .subitem-list{
                  opacity: 1;
                    pointer-events: auto;
                }
            }
        }
        .subitem-list{
            position: absolute;
            opacity: 0;
            pointer-events: none;
            top: 100%;
            left: 0;
            background-color: #FFFFFF;
            padding: 10px;
            transition: all ease 0.1s;
            a{
                font-size: 16px;
                @include screen-xxl {

                }
            }
        }
        @include screen-xxl {
            padding-right: 0;
            @include font(18px);
        }

        @include screen-xhl {
            display: none;
        }

        li {
            &:not(:last-child) {
                margin-right: 60px;
            }

            a {
                transition: color .3s;

                &:hover {
                    color: $color-green1;
                }
            }
        }
    }

    .ed-header-contacts {
        @include font(24px, 1.67);

        @include screen-xxl {
            @include font(20px);
        }

        @include screen-xhl {
            @include font(18px, 2);
            margin-left: auto;
        }

        @include screen-sm {
            display: none;
        }
        &__link {
            display: block;
            width: auto;
            max-width: max-content;
            transition: color .3s;
            &-mobile{
                display: none;
                margin-bottom: 0!important;
                svg{
                    width: 50px;
                    height: 50px;
                }
                @include screen-sm {
                    display: flex;
                    align-items: center;
                }
            }
            &:not(:last-child) {
                margin-bottom: 6px;
            }

            &:hover {
                color: $color-green1;
            }
        }
    }

    .ed-header-button {
        margin-left: 30px;
    }

    .ed-header-burger {
        display: none;
        position: relative;
        width: 60px;
        height: 60px;
        margin-left: 30px;
        cursor: pointer;

        @include screen-xhl {
            display: block;
        }

        @include screen-sm {
            width: 36px;
            height: 36px;
        }

        span {
            display: block;
            position: absolute;
            width: 100%;
            height: 2px;
            background: $color-base;
            border-radius: 2px;
            left: 0;

            &:nth-child(1) {
                top: 4px;
            }

            &:nth-child(2) {
                top: calc(50% - 1px);
            }

            &:nth-child(3) {
                top: calc(100% - 6px)
            }
        }
    }
}


.ed-menu {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    background: $color-white;
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: height .8s;
    transform: translate3d(0, 0, 0);
    @include screen-xhl {
        display: flex;
        align-items: center;
    }
    .ed-header.--menu-open & {
        height: 100vh;
    }

    ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 160px 0 100px 0;
        @include font(36px, 1.2);

        li {
            display: flex;
            justify-content: center;

            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }
    .has-submenu{
        a{
            text-align: center;
        }
        &:not(:last-child){
            margin-bottom: 8px;
        }
        @include screen-xhl {
            display: flex;
            flex-direction: column;
        }
    }
    .subitem-list{
        @include screen-xhl {
            padding: 20px;
        }
        &__item{
            margin-bottom: 10px;
            &:not(:last-child){
                margin-bottom: 10px;
            }
            a{
                font-size: 18px;
            }
        }
    }

}